# Homework 2 - Top Universities world ranking

# Task 1

### Importing libs

In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

import requests
from bs4 import BeautifulSoup

import json

# Extracting data from the website

In [2]:
ged_path = r'./ged171.csv'
df = pd.read_csv(ged_path,index_col='id', header=0)

In [20]:
list(df.columns.values)

['year',
 'active_year',
 'type_of_violence',
 'conflict_new_id',
 'conflict_name',
 'dyad_new_id',
 'dyad_name',
 'side_a_new_id',
 'gwnoa',
 'side_a',
 'side_b_new_id',
 'gwnob',
 'side_b',
 'number_of_sources',
 'source_article',
 'source_office',
 'source_date',
 'source_headline',
 'source_original',
 'where_prec',
 'where_coordinates',
 'adm_1',
 'adm_2',
 'latitude',
 'longitude',
 'geom_wkt',
 'priogrid_gid',
 'country',
 'country_id',
 'region',
 'event_clarity',
 'date_prec',
 'date_start',
 'date_end',
 'deaths_a',
 'deaths_b',
 'deaths_civilians',
 'deaths_unknown',
 'best',
 'low',
 'high']

In [29]:
df.groupby(['event_clarity']).count()

,year,active_year,type_of_violence,conflict_new_id,conflict_name,dyad_new_id,dyad_name,side_a_new_id,gwnoa,side_a,...,date_prec,date_start,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best,low,high
event_clarity,,,,,,,,,,,,,,,,,,,,,
1,122442,122442,122442,122442,122442,122442,122442,122442,94228,122442,...,122442,122442,122442,122442,122442,122442,122442,122442,122442,122442
2,12713,12713,12713,12713,12713,12713,12713,12713,10204,12713,...,12713,12713,12713,12713,12713,12713,12713,12713,12713,12713
3,26,26,26,26,26,26,26,26,23,26,...,26,26,26,26,26,26,26,26,26,26