# Homework 2 - Data from the Web

# Task 1 - QS World Universities ranking

### Importing libs

In [11]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt


import requests
from bs4 import BeautifulSoup
import difflib

import json

## Extracting data from the website

In [12]:
default_path = 'https://www.topuniversities.com'
r = requests.get(default_path +'/sites/default/files/qs-rankings-data/357051.txt?_=1507995842896')
result_json = r.json()

result = pd.DataFrame.from_dict(result_json['data']).head(200)

In [13]:
result

,cc,core_id,country,guide,logo,nid,rank_display,region,score,stars,title,url
0,US,410,United States,"<a href=""/where-to-study/north-america/united-...","<img src=""https://www.topuniversities.com/site...",294850,1,North America,100,6,Massachusetts Institute of Technology (MIT),/universities/massachusetts-institute-technolo...
1,US,573,United States,"<a href=""/where-to-study/north-america/united-...","<img src=""https://www.topuniversities.com/site...",297282,2,North America,98.7,5,Stanford University,/universities/stanford-university
2,US,253,United States,"<a href=""/where-to-study/north-america/united-...","<img src=""https://www.topuniversities.com/site...",294270,3,North America,98.4,5,Harvard University,/universities/harvard-university
3,US,94,United States,"<a href=""/where-to-study/north-america/united-...","<img src=""https://www.topuniversities.com/site...",294562,4,North America,97.7,5,California Institute of Technology (Caltech),/universities/california-institute-technology-...
4,GB,95,United Kingdom,"<a href=""/where-to-study/europe/united-kingdom...","<img src=""https://www.topuniversities.com/site...",294561,5,Europe,95.6,5,University of Cambridge,/universities/university-cambridge
5,GB,478,United Kingdom,"<a href=""/where-to-study/europe/united-kingdom...","<img src=""https://www.topuniversities.com/site...",294654,6,Europe,95.3,5,University of Oxford,/universities/university-oxford
6,GB,365,United Kingdom,"<a href=""/where-to-study/europe/united-kingdom...","<img src=""https://www.topuniversities.com/site...",294014,7,Europe,94.6,None,UCL (University College London),/universities/ucl-university-college-london
7,GB,356,United Kingdom,"<a href=""/where-to-study/europe/united-kingdom...","<img src=""https://www.topuniversities.com/site...",294030,8,Europe,93.7,None,Imperial College London,/universities/imperial-college-london
8,US,120,United States,"<a href=""/where-to-study/north-america/united-...","<img src=""https://www.topuniversities.com/site...",294536,9,North America,93.5,5,University of Chicago,/universities/university-chicago
9,CH,201,Switzerland,"<a href=""/where-to-study/europe/switzerland/gu...","<img src=""https://www.topuniversities.com/site...",294432,10,Europe,93.3,None,ETH Zurich - Swiss Federal Institute of Techno...,/universities/eth-zurich-swiss-federal-institu...
10,SG,431,Singapore,,"<img src=""https://www.topuniversities.com/site...",294821,11,Asia,92.2,6,"Nanyang Technological University, Singapore (NTU)",/universities/nanyang-technological-university...
11,CH,177,Switzerland,"<a href=""/where-to-study/europe/switzerland/gu...","<img src=""https://www.topuniversities.com/site...",294481,12,Europe,91.2,None,Ecole Polytechnique Fédérale de Lausanne (EPFL),/universities/ecole-polytechnique-f%C3%A9d%C3%...
12,US,508,United States,"<a href=""/where-to-study/north-america/united-...","<img src=""https://www.topuniversities.com/site...",297490,13,North America,91,5,Princeton University,/universities/princeton-university
13,US,143,United States,"<a href=""/where-to-study/north-america/united-...","<img src=""https://www.topuniversities.com/site...",294514,14,North America,90.7,5,Cornell University,/universities/cornell-university
14,SG,443,Singapore,,"<img src=""https://www.topuniversities.com/site...",294798,15,Asia,90.5,None,National University of Singapore (NUS),/universities/national-university-singapore-nus
15,US,684,United States,"<a href=""/where-to-study/north-america/united-...","<img src=""https://www.topuniversities.com/site...",297177,16,North America,90.4,5,Yale University,/universities/yale-university
16,US,305,United States,"<a href=""/where-to-study/north-america/united-...","<img src=""https://www.topuniversities.com/site...",294184,17,North America,89.8,None,Johns Hopkins University,/universities/johns-hopkins-university
17,US,138,United States,"<a href=""/where-to-study/north-america/united-...","<img src=""https://www.topuniversities.com/site...",294519,18,North America,88.9,5,Columbia University,/universities/columbia-university
18,US,495,United States,"<a href=""/where-to-study/north-america/united-...","<img src=""https://www.topuniversities.com/site...",297569,19,North America,88.7,5,University of Pennsylvania,/universities/university-pennsylvania
19,AU,40,Australia,"<a href=""/where-to-study/oceania/australia/gui...","<img src=""https://www.topuniversities.com/site...",294616,20,Oceania,87.1,,The Australian National University,/universities/australian-national-university
20,US,403,United States,"<a href=""/where-to-study/north-america/united-...","<img src=""https://www.topuniversities.com/site...",294857,=21,North America,87,5,University of Michigan,/universities/university-michigan
21,US,168,United States,"<a href=""/where-to-study/north-america/united-...","<img src=""https://www.topuniversities.com/site...",294490,=21,North America,87,5,Duke University,/universities/duke-university
22,GB,180,United Kingdom,"<a href=""/where-to-study/europe/united-kingdom...","<img src=""https://www.topuniversities.com/site...",294478,=23,Europe,86.9,None,The University of Edinburgh,/universities/university-edinburgh
23,GB,357,United Kingdom,"<a href=""/where-to-study/europe/united-kingdom...","<img src=""https://www.topuniversities.com/site...",294029,=23,Europe,86.9,None,King's College London,/universities/kings-college-london
24,CN,626,China,"<a href=""/where-to-study/asia/china/guide"" cla...","<img src=""https://www.topuniversities.com/site...",297235,25,Asia,85.6,None,Tsinghua University,/universities/tsinghua-university
25,HK,268,Hong Kong,"<a href=""/where-to-study/asia/hong-kong/guide""...","<img src=""https://www.topuniversities.com/site...",294256,26,Asia,85.5,None,The University of Hong Kong,/universities/university-hong-kong
26,US,84,United States,"<a href=""/where-to-study/north-america/united-...","<img src=""https://www.topuniversities.com/site...",294572,27,North America,84.9,None,"University of California, Berkeley (UCB)",/universities/university-california-berkeley-ucb
27,JP,615,Japan,"<a href=""/where-to-study/asia/japan/guide"" cla...","<img src=""https://www.topuniversities.com/site...",297246,=28,Asia,84.8,None,The University of Tokyo,/universities/university-tokyo
28,US,456,United States,"<a href=""/where-to-study/north-america/united-...","<img src=""https://www.topuniversities.com/site...",294767,=28,North America,84.8,None,Northwestern University,/universities/northwestern-university
29,HK,269,Hong Kong,"<a href=""/where-to-study/asia/hong-kong/guide""...","<img src=""https://www.topuniversities.com/site...",294255,30,Asia,84.3,None,The Hong Kong University of Science and Techno...,/universities/hong-kong-university-science-tec...
...,...,...,...,...,...,...,...,...,...,...,...,...
170,DE,216,Germany,"<a href=""/where-to-study/europe/germany/guide""...","<img src=""https://www.topuniversities.com/site...",294376,171,Europe,50.8,None,Albert-Ludwigs-Universitaet Freiburg,/universities/albert-ludwigs-universitaet-frei...
171,IN,282,India,"<a href=""/where-to-study/asia/india/guide"" cla...","<img src=""https://www.topuniversities.com/site...",294242,172,Asia,50.7,None,Indian Institute of Technology Delhi (IITD),/universities/indian-institute-technology-delh...
172,SA,779,Saudi Arabia,"<a href=""/where-to-study/asia/saudi-arabia/gui...","<img src=""https://www.topuniversities.com/site...",297053,=173,Asia,50.3,5,King Fahd University of Petroleum & Minerals,/universities/king-fahd-university-petroleum-m...
173,GB,350,United Kingdom,"<a href=""/where-to-study/europe/united-kingdom...","<img src=""https://www.topuniversities.com/site...",294045,=173,Europe,50.3,5,University of Liverpool,/universities/university-liverpool
174,US,656,United States,"<a href=""/where-to-study/north-america/united-...","<img src=""https://www.topuniversities.com/site...",297205,=173,North America,50.3,None,University of Virginia,/universities/university-virginia
175,AU,587,Australia,"<a href=""/where-to-study/oceania/australia/gui...","<img src=""https://www.topuniversities.com/site...",297273,176,Oceania,50.1,5,University of Technology Sydney,/universities/university-technology-sydney
176,FR,173,France,"<a href=""/where-to-study/europe/france/guide"" ...","<img src=""https://www.topuniversities.com/site...",294485,177,Europe,50,None,CentraleSupélec,/universities/centralesup%C3%A9lec
177,US,212,United States,"<a href=""/where-to-study/north-america/united-...","<img src=""https://www.topuniversities.com/site...",294394,178,North America,49.8,None,University of Florida,/universities/university-florida
178,IN,281,India,"<a href=""/where-to-study/asia/india/guide"" cla...","<img src=""https://www.topuniversities.com/site...",294243,=179,Asia,49.7,None,Indian Institute of Technology Bombay (IITB),/universities/indian-institute-technology-bomb...
179,NL,635,Netherlands,"<a href=""/where-to-study/europe/netherlands/gu...","<img src=""https://www.topuniversities.com/site...",297226,=179,Europe,49.7,5,University of Twente,/universities/university-twente
180,DE,234,Germany,"<a href=""/where-to-study/europe/germany/guide""...","<img src=""https://www.topuniversities.com/site...",294311,181,Europe,49.6,None,University of Göttingen,/universities/university-g%C3%B6ttingen
181,BE,74,Belgium,"<a href=""/where-to-study/europe/belgium/guide""...","<img src=""https://www.topuniversities.com/site...",294582,=182,Europe,49.5,None,Vrije Universiteit Brussel (VUB),/universities/vrije-universiteit-brussel-vub
182,BR,96,Brazil,"<a href=""/where-to-study/latin-america/brazil/...","<img src=""https://www.topuniversities.com/site...",294560,=182,Latin America,49.5,None,Universidade Estadual de Campinas (Unicamp),/universities/universidade-estadual-de-campina...
183,US,137,United States,"<a href=""/where-to-study/north-america/united-...","<img src=""https://www.topuniversities.com/site...",294520,=182,North America,49.5,None,University of Colorado Boulder,/universities/university-colorado-boulder
184,AT,653,Austria,"<a href=""/where-to-study/europe/austria/guide""...","<img src=""https://www.topuniversities.com/site...",297208,=182,Europe,49.5,None,Vienna University of Technology,/universities/vienna-university-technology
185,US,530,United States,"<a href=""/where-to-study/north-america/united-...","<img src=""https://www.topuniversities.com/site...",297494,186,North America,49.3,None,University of Rochester,/universities/university-rochester
186,ES,379,Spain,"<a href=""/where-to-study/europe/spain/guide"" c...","<img src=""https://www.topuniversities.com/site...",293977,187,Europe,49.2,None,Universidad Autónoma de Madrid,/universities/universidad-aut%C3%B3noma-de-madrid
187,IT,61,Italy,"<a href=""/where-to-study/europe/italy/guide"" c...","<img src=""https://www.topuniversities.com/site...",294595,=188,Europe,49.1,None,Alma Mater Studiorum - University of Bologna,/universities/alma-mater-studiorum-university-...
188,GB,517,United Kingdom,"<a href=""/where-to-study/europe/united-kingdom...","<img src=""https://www.topuniversities.com/site...",297458,=188,Europe,49.1,None,University of Reading,/universities/university-reading
189,IN,22878,India,"<a href=""/where-to-study/asia/india/guide"" cla...","<img src=""https://www.topuniversities.com/site...",295536,190,Asia,49,None,Indian Institute of Science (IISc) Bangalore,/universities/indian-institute-science-iisc-ba...
190,ZA,98,South Africa,"<a href=""/where-to-study/africa/south-africa/g...","<img src=""https://www.topuniversities.com/site...",294558,191,Africa,48.9,None,University of Cape Town,/universities/university-cape-town
191,IT,25824,Italy,"<a href=""/where-to-study/europe/italy/guide"" c...","<img src=""https://www.topuniversities.com/site...",295576,=192,Europe,48.5,None,Scuola Normale Superiore di Pisa,/universities/scuola-normale-superiore-di-pisa
192,IT,751,Italy,"<a href=""/where-to-study/europe/italy/guide"" c...","<img src=""https://www.topuniversities.com/site...",297078,=192,Europe,48.5,None,Scuola Superiore Sant'Anna Pisa di Studi Unive...,/universities/scuola-superiore-santanna-pisa-d...
193,JP,314,Japan,"<a href=""/where-to-study/asia/japan/guide"" cla...","<img src=""https://www.topuniversities.com/site...",294156,=192,Asia,48.5,None,Keio University CEMS MIM,/universities/keio-university-cems-mim
194,SE,577,Sweden,"<a href=""/where-to-study/europe/sweden/guide"" ...","<img src=""https://www.topuniversities.com/site...",297278,=195,Europe,48.1,None,Stockholm University,/universities/stockholm-university
195,ES,44,Spain,"<a href=""/where-to-study/europe/spain/guide"" c...","<img src=""https://www.topuniversities.com/site...",294612,=195,Europe,48.1,None,Universitat Autònoma de Barcelona,/universities/universitat-aut%C3%B2noma-de-bar...
196,US,605,United States,"<a href=""/where-to-study/north-america/united-...","<img src=""https://www.topuniversities.com/site...",297256,=195,North America,48.1,None,Texas A&M University,/universities/texas-am-university
197,MX,594,Mexico,"<a href=""/where-to-study/latin-america/mexico/...","<img src=""https://www.topuniversities.com/site...",297267,199,Latin America,48,5,Instituto Tecnológico y de Estudios Superiores...,/universities/instituto-tecnol%C3%B3gico-y-de-...
198,NL,377,Netherlands,"<a href=""/where-to-study/europe/netherlands/gu...","<img src=""https://www.topuniversities.com/site...",293985,200,Europe,47.9,None,Maastricht University,/universities/maastricht-university
199,CL,121,Chile,"<a href=""/where-to-study/latin-america/chile/g...","<img src=""https://www.topuniversities.com/site...",294535,201,Latin America,47.8,None,Universidad de Chile,/universities/universidad-de-chile

## Renaming the columns

In [14]:
new_columns =['CC TU','Core_id TU','Country TU','Guide TU','Logo TU','Nid TU','Rank TU','Region TU','Score TU',
             'Stars TU','Title TU','url TU']
result.columns = new_columns

In [15]:
for index, row in result.iterrows():
        r_ = requests.get(default_path + result.iloc[index]['url TU'])
        soup = BeautifulSoup(r_.text, 'html.parser')
        university = result.iloc[index]['Title TU']
        try:
            total_faculty = soup.find('div', class_='total faculty')
            result.loc[index, 'Staff total number TU'] = int(total_faculty.find('div', class_='number').text.split()[0].replace(',', ''))
        except:
            print(university + ' has no values for TOTAL_STAFF') 
        try:
            total_student = soup.find('div', class_='total student')
            result.loc[index, 'Students total number TU'] = int(total_student.find('div', class_='number').text.split()[0].replace(',', ''))
        except:
            print(university + ' has no values for TOTAL_STUDENTS')
        try:
            inter_faculty = soup.find('div', class_='inter faculty')
            result.loc[index, 'International Staff number TU'] = int(inter_faculty.find('div', class_='number').text.split()[0].replace(',', ''))
        except:
            print(university + ' has no values for INTERNATIONAL_STAFF')
        try:
            inter_student = soup.find('div', class_='total inter')
            result.loc[index, 'International Students number TU'] = int(inter_student.find('div', class_='number').text.split()[0].replace(',', ''))
        except:
            print(university + ' has no values for INTERNATIONAL_STUDENTS')
            print(default_path + result.iloc[index]['url TU'])

New York University (NYU) has no values for TOTAL_STAFF
New York University (NYU) has no values for TOTAL_STUDENTS
New York University (NYU) has no values for INTERNATIONAL_STAFF
New York University (NYU) has no values for INTERNATIONAL_STUDENTS
https://www.topuniversities.com/universities/new-york-university-nyu
Indian Institute of Science (IISc) Bangalore has no values for INTERNATIONAL_STAFF

### Fixing duplicate ranks

In [16]:
result['Rank TU'] = range(1,201)

### Removing useless columns

In [17]:
result.fillna(0)
useless_columns = ['Score TU','Stars TU','CC TU','Core_id TU','Guide TU','Nid TU','url TU','Logo TU']
for column_name in useless_columns:
    del result[column_name]

In [18]:
df = result.copy()

## Extracting ratios

In [19]:
df['Ratio Staff/Student TU']=df['Staff total number TU']/df['Students total number TU']
df['Ratio International Students TU']=df['International Students number TU']/df['Students total number TU']

### Sorting dataframes by ratios

In [20]:
df_international = df.sort_values('Ratio International Students TU', ascending=0)
df_staffstud = df.sort_values('Ratio Staff/Student TU', ascending=0)

In [21]:
df_international.head(3)

,Country TU,Rank TU,Region TU,Title TU,Staff total number TU,Students total number TU,International Staff number TU,International Students number TU,Ratio Staff/Student TU,Ratio International Students TU
34,United Kingdom,35,Europe,London School of Economics and Political Scien...,1088.0,9760.0,687.0,6748.0,0.111475,0.691393
11,Switzerland,12,Europe,Ecole Polytechnique Fédérale de Lausanne (EPFL),1695.0,10343.0,1300.0,5896.0,0.163879,0.570047
7,United Kingdom,8,Europe,Imperial College London,3930.0,16090.0,2071.0,8746.0,0.244251,0.543567

In [22]:
df_staffstud.head(3)

,Country TU,Rank TU,Region TU,Title TU,Staff total number TU,Students total number TU,International Staff number TU,International Students number TU,Ratio Staff/Student TU,Ratio International Students TU
3,United States,4,North America,California Institute of Technology (Caltech),953.0,2255.0,350.0,647.0,0.422616,0.286918
15,United States,16,North America,Yale University,4940.0,12402.0,1708.0,2469.0,0.398323,0.199081
5,United Kingdom,6,Europe,University of Oxford,6750.0,19720.0,2964.0,7353.0,0.342292,0.372870

### Deleting useless columns before grouping by Country and Region

In [23]:

df_international_by_country_or_region = df_international.copy()
other_useless_columns = ['Rank TU','Ratio International Students TU','Ratio Staff/Student TU','Title TU']
for useless_column in other_useless_columns:
    del df_international_by_country_or_region[useless_column]
df_international_by_country_or_region.head(5)

,Country TU,Region TU,Staff total number TU,Students total number TU,International Staff number TU,International Students number TU
34,United Kingdom,Europe,1088.0,9760.0,687.0,6748.0
11,Switzerland,Europe,1695.0,10343.0,1300.0,5896.0
7,United Kingdom,Europe,3930.0,16090.0,2071.0,8746.0
198,Netherlands,Europe,1277.0,16385.0,502.0,8234.0
47,United States,North America,1342.0,13356.0,425.0,6385.0

## Grouping by country and Region

In [24]:
df_international_by_country = df_international_by_country_or_region.groupby(['Country TU']).sum()
df_international_by_region = df_international_by_country_or_region.groupby(['Region TU']).sum()

### Producing ratios by country

In [25]:
df_international_by_country['Ratio Staff/Student TU'] = df_international_by_country['Staff total number TU']/df_international_by_country['Students total number TU']
df_international_by_country['Ratio International Students TU'] = df_international_by_country['International Students number TU']/df_international_by_country['Students total number TU']

In [26]:
df_international_by_country_staffstudent = df_international_by_country.copy()
df_international_by_country_staffstudent.sort_values('Ratio Staff/Student TU', ascending=0).head(5)

,Staff total number TU,Students total number TU,International Staff number TU,International Students number TU,Ratio Staff/Student TU,Ratio International Students TU
Country TU,,,,,,
Russia,6709.0,30233.0,373.0,5098.0,0.221910,0.168624
Denmark,11916.0,67223.0,3904.0,9543.0,0.177261,0.141960
Saudi Arabia,1062.0,6040.0,665.0,989.0,0.175828,0.163742
Singapore,9444.0,58466.0,6079.0,16168.0,0.161530,0.276537
Malaysia,2755.0,17902.0,655.0,3476.0,0.153893,0.194168

In [27]:
df_international_by_country_intstudent = df_international_by_country.copy()
df_international_by_country_intstudent.sort_values('Ratio International Students TU', ascending=0).head(5)

,Staff total number TU,Students total number TU,International Staff number TU,International Students number TU,Ratio Staff/Student TU,Ratio International Students TU
Country TU,,,,,,
Australia,22034.0,301994.0,11382.0,106359.0,0.072962,0.352189
United Kingdom,79934.0,583621.0,30216.0,199426.0,0.136962,0.341705
Hong Kong,10166.0,78838.0,6296.0,24499.0,0.128948,0.310751
Austria,4117.0,63446.0,1572.0,19667.0,0.064890,0.309980
Switzerland,15323.0,109112.0,9208.0,32995.0,0.140434,0.302396

### Producing ratios by region

In [28]:
df_international_by_region['Ratio Staff/Student TU'] = df_international_by_region['Staff total number TU']/df_international_by_region['Students total number TU']
df_international_by_region['Ratio International Students TU'] = df_international_by_region['International Students number TU']/df_international_by_region['Students total number TU']

In [29]:
df_international_by_region_staffstudent = df_international_by_region.copy()
df_international_by_region_staffstudent.sort_values('Ratio Staff/Student TU', ascending=0).head(5)

,Staff total number TU,Students total number TU,International Staff number TU,International Students number TU,Ratio Staff/Student TU,Ratio International Students TU
Region TU,,,,,,
Asia,106734.0,807003.0,25462.0,110100.0,0.132260,0.136431
North America,182123.0,1546353.0,43836.0,292116.0,0.117776,0.188906
Europe,218358.0,1957251.0,67598.0,449364.0,0.111564,0.229589
Latin America,45382.0,435750.0,5648.0,36871.0,0.104147,0.084615
Africa,1733.0,19593.0,379.0,3325.0,0.088450,0.169703

In [30]:
df_international_by_region_intstudent = df_international_by_region.copy()
df_international_by_region_intstudent.sort_values('Ratio International Students TU', ascending=0).head(5)

,Staff total number TU,Students total number TU,International Staff number TU,International Students number TU,Ratio Staff/Student TU,Ratio International Students TU
Region TU,,,,,,
Oceania,25347.0,350167.0,12786.0,118798.0,0.072385,0.339261
Europe,218358.0,1957251.0,67598.0,449364.0,0.111564,0.229589
North America,182123.0,1546353.0,43836.0,292116.0,0.117776,0.188906
Africa,1733.0,19593.0,379.0,3325.0,0.088450,0.169703
Asia,106734.0,807003.0,25462.0,110100.0,0.132260,0.136431

## Plots and Discussion

In [ ]:
#TODO: Plot your data using bar charts and describe briefly what you observed.

# Task 2 - Times Higher Education ranking

## Extracting data from the website

In [32]:
default_path_2 = 'https://www.timeshighereducation.com'
r_2 = requests.get(default_path_2 +'/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json')
result_json_2 = r_2.json()

result_2 = pd.DataFrame.from_dict(result_json_2['data']).head(200)

In [33]:
result_2

,aliases,location,member_level,name,nid,rank,rank_order,record_type,scores_citations,scores_citations_rank,...,scores_research,scores_research_rank,scores_teaching,scores_teaching_rank,stats_female_male_ratio,stats_number_students,stats_pc_intl_students,stats_student_staff_ratio,subjects_offered,url
0,University of Oxford,United Kingdom,0,University of Oxford,468,1,10,master_account,99.1,15,...,99.5,1,86.7,5,46 : 54,"20,409",38%,11.2,"Archaeology,Art, Performing Arts & Design,Biol...",/world-university-rankings/university-oxford
1,University of Cambridge,United Kingdom,0,University of Cambridge,470,2,20,master_account,97.5,29,...,97.8,3,87.8,3,45 : 55,"18,389",35%,10.9,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/university-cambridge
2,California Institute of Technology caltech,United States,0,California Institute of Technology,128779,=3,30,private,99.5,10,...,97.5,4,90.3,1,31 : 69,"2,209",27%,6.5,"Architecture,Biological Sciences,Business & Ma...",/world-university-rankings/california-institut...
3,Stanford University,United States,11,Stanford University,467,=3,40,private,99.9,4,...,96.7,5,89.1,2,42 : 58,"15,845",22%,7.5,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/stanford-university
4,Massachusetts Institute of Technology,United States,0,Massachusetts Institute of Technology,471,5,50,private,100.0,1,...,91.9,9,87.3,4,37 : 63,"11,177",34%,8.7,"Architecture,Art, Performing Arts & Design,Bio...",/world-university-rankings/massachusetts-insti...
5,Harvard University,United States,0,Harvard University,466,6,60,private,99.7,8,...,98.4,2,84.2,9,None,"20,326",26%,8.9,"Agriculture & Forestry,Archaeology,Art, Perfor...",/world-university-rankings/harvard-university
6,Princeton University,United States,0,Princeton University,469,7,70,private,99.6,9,...,93.9,6,85.7,7,45 : 55,"7,955",24%,8.3,"Architecture,Art, Performing Arts & Design,Bio...",/world-university-rankings/princeton-university
7,Imperial College London,United Kingdom,0,Imperial College London,472,8,80,master_account,96.7,40,...,88.7,12,81.7,13,37 : 63,"15,857",55%,11.4,"Biological Sciences,Chemical Engineering,Chemi...",/world-university-rankings/imperial-college-lo...
8,University of Chicago,United States,0,University of Chicago,473,9,90,private,99.4,12,...,90.1,10,85.3,8,44 : 56,"13,525",25%,6.2,"Archaeology,Art, Performing Arts & Design,Biol...",/world-university-rankings/university-chicago
9,ETH Zurich – Swiss Federal Institute of Techno...,Switzerland,0,ETH Zurich – Swiss Federal Institute of Techno...,479,=10,100,master_account,94.3,60,...,92.0,8,76.4,21,31 : 69,"19,233",38%,14.6,"Agriculture & Forestry,Architecture,Biological...",/world-university-rankings/eth-zurich-swiss-fe...
10,University of Pennsylvania,United States,0,University of Pennsylvania,480,=10,110,private,98.5,22,...,90.1,11,83.7,10,50 : 50,"20,361",20%,6.5,"Accounting & Finance,Archaeology,Architecture,...",/world-university-rankings/university-pennsylv...
11,Yale University,United States,0,Yale University,475,12,120,private,98.4,24,...,87.0,17,86.7,6,49 : 51,"12,155",21%,4.3,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/yale-university
12,Johns Hopkins University,United States,0,Johns Hopkins University,478,13,130,private,98.4,23,...,88.1,16,76.1,23,52 : 48,"15,498",24%,4.3,"Agriculture & Forestry,Archaeology,Architectur...",/world-university-rankings/johns-hopkins-unive...
13,Columbia University,United States,0,Columbia University,476,14,140,private,98.8,19,...,83.3,26,82.2,12,None,"26,587",32%,6.1,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/columbia-university
14,"University of California, Los Angeles",United States,0,"University of California, Los Angeles",477,15,150,public,97.9,27,...,88.1,15,80.7,14,53 : 47,"39,279",17%,9.6,"Architecture,Art, Performing Arts & Design,Bio...",/world-university-rankings/university-californ...
15,University College London ucl,United Kingdom,0,University College London,481,16,160,master_account,94.6,56,...,88.2,13,74.4,25,56 : 44,"30,304",49%,10.5,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/university-college-...
16,Duke University,United States,0,Duke University,487,17,170,private,98.3,25,...,80.6,27,80.7,15,49 : 51,"15,256",22%,4.5,"Art, Performing Arts & Design,Biological Scien...",/world-university-rankings/duke-university
17,"University of California, Berkeley",United States,0,"University of California, Berkeley",474,18,180,public,99.8,5,...,84.5,24,77.4,18,52 : 48,"36,182",17%,13.1,"Agriculture & Forestry,Archaeology,Architectur...",/world-university-rankings/university-californ...
18,Cornell University,United States,0,Cornell University,484,19,190,private,97.6,28,...,86.6,19,76.2,22,49 : 51,"21,850",24%,9.8,"Agriculture & Forestry,Archaeology,Architectur...",/world-university-rankings/cornell-university
19,Northwestern University,United States,0,Northwestern University,490,20,200,private,96.9,36,...,86.7,18,72.6,28,48 : 52,"17,466",18%,12.8,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/northwestern-univer...
20,University of Michigan,United States,0,University of Michigan,482,21,210,public,95.7,47,...,86.3,20,77.2,20,48 : 52,"41,818",16%,8.6,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/university-michigan
21,National University of Singapore nus,Singapore,6,National University of Singapore,504,=22,220,master_account,81.3,193,...,88.2,14,77.4,19,51 : 49,"30,602",30%,17.0,"Architecture,Biological Sciences,Business & Ma...",/world-university-rankings/national-university...
22,University of Toronto,Canada,0,University of Toronto,483,=22,230,master_account,92.6,75,...,84.8,23,74.6,24,None,"69,427",17%,18.7,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/university-toronto
23,Carnegie Mellon University,United States,0,Carnegie Mellon University,485,24,240,private,99.7,7,...,83.7,25,65.8,36,39 : 61,"12,676",45%,13.5,"Accounting & Finance,Archaeology,Architecture,...",/world-university-rankings/carnegie-mellon-uni...
24,London School of Economics and Political Science,United Kingdom,0,London School of Economics and Political Science,511,=25,250,master_account,94.9,53,...,72.0,43,71.8,30,52 : 48,"10,065",71%,12.2,"Accounting & Finance,Business & Management,Eco...",/world-university-rankings/london-school-econo...
25,University of Washington,United States,0,University of Washington,489,=25,260,public,99.0,17,...,79.9,28,67.9,34,52 : 48,"44,945",16%,11.4,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/university-washington
26,University of Edinburgh,United Kingdom,0,University of Edinburgh,500,=27,270,master_account,97.0,35,...,74.2,36,66.8,35,59 : 41,"26,759",40%,12.5,"Accounting & Finance,Archaeology,Architecture,...",/world-university-rankings/university-edinburgh
27,New York University,United States,0,New York University,508,=27,280,private,96.5,43,...,77.4,34,73.7,27,56 : 44,"43,860",26%,9.6,"Accounting & Finance,Archaeology,Art, Performi...",/world-university-rankings/new-york-university
28,Peking University,China,0,Peking University,514,=27,290,master_account,74.2,274,...,85.1,22,83.0,11,47 : 53,"42,136",16%,8.9,"Accounting & Finance,Archaeology,Art, Performi...",/world-university-rankings/peking-university
29,Tsinghua University Qinghua University Tsing h...,China,6,Tsinghua University,535,30,300,master_account,71.4,306,...,93.2,7,80.2,16,32 : 68,"42,089",9%,13.7,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/tsinghua-university
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,University of Cape Town,South Africa,0,University of Cape Town,567,171,1710,master_account,87.0,133,...,36.2,225,30.5,372,53 : 47,"20,775",18%,11.7,"Accounting & Finance,Archaeology,Architecture,...",/world-university-rankings/university-cape-town
171,"Rutgers, the State University of New Jersey",United States,0,"Rutgers, the State University of New Jersey",546,172,1720,public,79.7,214,...,45.3,143,43.0,148,52 : 48,"43,439",10%,11.1,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/rutgers-state-unive...
172,KTH Royal Institute of Technology,Sweden,0,KTH Royal Institute of Technology,651,=173,1730,master_account,67.0,363,...,46.3,138,42.3,158,33 : 67,"12,951",17%,16.0,"Architecture,Biological Sciences,Chemistry,Com...",/world-university-rankings/kth-royal-institute...
173,University of Münster,Germany,0,University of Münster,756,=173,1740,master_account,81.2,195,...,42.1,161,40.3,181,53 : 47,"42,287",7%,42.6,"Chemistry,Communication & Media Studies,Comput...",/world-university-rankings/university-munster
174,Université Libre de Bruxelles,Belgium,0,Université Libre de Bruxelles,669,=175,1750,master_account,80.4,205,...,42.2,160,32.4,332,55 : 45,"25,343",35%,43.4,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/universite-libre-de...
175,Newcastle University,United Kingdom,6,Newcastle University,610,=175,1760,master_account,80.6,201,...,40.8,176,33.4,304,49 : 51,"20,952",30%,15.6,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/newcastle-university
176,University of Liverpool,United Kingdom,11,University of Liverpool,646,=177,1770,master_account,86.8,136,...,34.7,245,32.7,318,54 : 46,"19,815",35%,11.7,"Accounting & Finance,Archaeology,Architecture,...",/world-university-rankings/university-liverpool
177,Zhejiang University ZJU Zhejiang University Ch...,China,11,Zhejiang University,815,=177,1780,master_account,45.1,564,...,63.7,60,57.0,63,22 : 78,"50,051",6%,14.1,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/zhejiang-university
178,University of Luxembourg,Luxembourg,6,University of Luxembourg,131698,=179,1790,master_account,91.9,78,...,32.4,275,26.8,475,50 : 50,"4,969",57%,14.6,"Accounting & Finance,Biological Sciences,Busin...",/world-university-rankings/university-luxembourg
179,University of Twente,Netherlands,6,University of Twente,664,=179,1800,master_account,68.5,342,...,47.0,134,35.5,257,37 : 63,"6,697",27%,12.8,"Art, Performing Arts & Design,Business & Manag...",/world-university-rankings/university-twente
180,Paris-Sud University,France,0,Paris-Sud University,867,181,1810,master_account,86.8,138,...,33.1,265,40.4,180,55 : 45,"27,221",16%,14.5,"Business & Management,Chemistry,Economics & Ec...",/world-university-rankings/paris-sud-university
181,École Normale Supérieure de Lyon,France,0,École Normale Supérieure de Lyon,605,=182,1820,master_account,80.9,197,...,37.8,210,40.1,185,47 : 53,"2,221",13%,8.5,"Chemistry,Computer Science,Geology, Environmen...",/world-university-rankings/ecole-normale-super...
182,Hong Kong Polytechnic University hkpu hong kon...,Hong Kong,11,Hong Kong Polytechnic University,723,=182,1830,master_account,67.7,356,...,48.1,126,39.1,197,51 : 49,"21,773",25%,26.9,"Accounting & Finance,Art, Performing Arts & De...",/world-university-rankings/hong-kong-polytechn...
183,Scuola Normale Superiore di Pisa,Italy,0,Scuola Normale Superiore di Pisa,1019,184,1840,master_account,75.4,255,...,33.3,263,53.7,74,30 : 70,515,7%,5.2,"Biological Sciences,Chemistry,Computer Science...",/world-university-rankings/scuola-normale-supe...
184,University of Aberdeen,United Kingdom,0,University of Aberdeen,615,185,1850,master_account,87.1,131,...,33.6,258,30.3,377,55 : 45,"12,055",36%,13.9,"Archaeology,Art, Performing Arts & Design,Biol...",/world-university-rankings/university-aberdeen
185,University of Miami,United States,0,University of Miami,636,186,1860,private,90.3,91,...,24.4,418,42.5,157,51 : 49,"15,860",16%,5.9,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/university-miami
186,University of Dundee,United Kingdom,11,University of Dundee,640,187,1870,master_account,94.5,57,...,32.0,284,26.3,491,62 : 38,"10,893",24%,14.9,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/university-dundee
187,University of East Anglia,United Kingdom,0,University of East Anglia,609,=188,1880,master_account,90.5,89,...,31.6,290,29.9,395,60 : 40,"13,521",30%,13.6,"Accounting & Finance,Archaeology,Biological Sc...",/world-university-rankings/university-east-anglia
188,Shanghai Jiao Tong University,China,0,Shanghai Jiao Tong University,801,=188,1890,master_account,44.1,572,...,62.5,67,53.5,76,41 : 59,"37,288",6%,12.4,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/shanghai-jiao-tong-...
189,Aalto University,Finland,0,Aalto University,767,190,1900,master_account,79.5,215,...,35.8,232,37.8,210,34 : 66,"12,744",20%,20.2,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/aalto-university
190,University of Massachusetts,United States,0,University of Massachusetts,528,191,1910,master_account,88.8,112,...,32.2,280,36.3,237,49 : 51,"59,230",14%,13.3,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/university-massachu...
191,University of Auckland,New Zealand,11,University of Auckland,637,192,1920,master_account,73.8,282,...,40.7,177,32.5,327,54 : 46,"30,348",29%,18.8,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/university-auckland
192,Northeastern University,United States,0,Northeastern University,681,193,1930,private,91.7,79,...,26.8,370,35.6,254,49 : 51,"18,780",32%,14.0,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/northeastern-univer...
193,Lomonosov Moscow State University,Russian Federation,0,Lomonosov Moscow State University,753,194,1940,master_account,15.8,932,...,61.6,71,74.2,26,48 : 52,"29,236",22%,7.3,"Art, Performing Arts & Design,Biological Scien...",/world-university-rankings/lomonosov-moscow-st...
194,Tilburg University,Netherlands,0,Tilburg University,734,195,1950,master_account,61.3,422,...,50.1,112,38.4,206,48 : 52,"7,738",13%,22.5,"Business & Management,Economics & Econometrics...",/world-university-rankings/tilburg-university
195,Paris-Sorbonne University – Paris 4,France,0,Paris-Sorbonne University – Paris 4,924,196,1960,master_account,77.1,240,...,34.3,251,44.6,132,68 : 32,"22,042",15%,30.2,"Archaeology,Art, Performing Arts & Design,Geog...",/world-university-rankings/paris-sorbonne-univ...
196,"Royal Holloway, University of London",United Kingdom,0,"Royal Holloway, University of London",571,197,1970,master_account,85.0,156,...,27.9,345,33.9,294,59 : 41,"8,931",40%,15.4,"Art, Performing Arts & Design,Biological Scien...",/world-university-rankings/royal-holloway-univ...
197,"University of California, Riverside",United States,0,"University of California, Riverside",607,=198,1980,public,92.3,76,...,30.9,294,30.0,391,51 : 49,"20,740",14%,20.7,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/university-californ...
198,University of Gothenburg,Sweden,0,University of Gothenburg,676,=198,1990,master_account,87.5,129,...,39.2,199,26.7,477,None,"18,378",13%,10.0,"Art, Performing Arts & Design,Biological Scien...",/world-university-rankings/university-gothenburg
199,National Taiwan University,Taiwan,0,National Taiwan University,618,=198,2000,master_account,53.4,495,...,54.7,93,50.4,87,40 : 60,"31,758",8%,11.5,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/national-taiwan-uni...

## Deleting useless columns

In [34]:
useless_columns_2 = ['aliases','rank_order','scores_overall_rank','scores_teaching','scores_teaching_rank','scores_research','scores_research_rank',
                     'scores_citations','scores_citations_rank','scores_industry_income','scores_industry_income_rank',
                    'scores_international_outlook','scores_international_outlook_rank','record_type','member_level',
                    'nid','subjects_offered','url','scores_overall']
for column_name in useless_columns_2:
    del result_2[column_name]

In [35]:
result_2

,location,name,rank,stats_female_male_ratio,stats_number_students,stats_pc_intl_students,stats_student_staff_ratio
0,United Kingdom,University of Oxford,1,46 : 54,"20,409",38%,11.2
1,United Kingdom,University of Cambridge,2,45 : 55,"18,389",35%,10.9
2,United States,California Institute of Technology,=3,31 : 69,"2,209",27%,6.5
3,United States,Stanford University,=3,42 : 58,"15,845",22%,7.5
4,United States,Massachusetts Institute of Technology,5,37 : 63,"11,177",34%,8.7
5,United States,Harvard University,6,None,"20,326",26%,8.9
6,United States,Princeton University,7,45 : 55,"7,955",24%,8.3
7,United Kingdom,Imperial College London,8,37 : 63,"15,857",55%,11.4
8,United States,University of Chicago,9,44 : 56,"13,525",25%,6.2
9,Switzerland,ETH Zurich – Swiss Federal Institute of Techno...,=10,31 : 69,"19,233",38%,14.6
10,United States,University of Pennsylvania,=10,50 : 50,"20,361",20%,6.5
11,United States,Yale University,12,49 : 51,"12,155",21%,4.3
12,United States,Johns Hopkins University,13,52 : 48,"15,498",24%,4.3
13,United States,Columbia University,14,None,"26,587",32%,6.1
14,United States,"University of California, Los Angeles",15,53 : 47,"39,279",17%,9.6
15,United Kingdom,University College London,16,56 : 44,"30,304",49%,10.5
16,United States,Duke University,17,49 : 51,"15,256",22%,4.5
17,United States,"University of California, Berkeley",18,52 : 48,"36,182",17%,13.1
18,United States,Cornell University,19,49 : 51,"21,850",24%,9.8
19,United States,Northwestern University,20,48 : 52,"17,466",18%,12.8
20,United States,University of Michigan,21,48 : 52,"41,818",16%,8.6
21,Singapore,National University of Singapore,=22,51 : 49,"30,602",30%,17.0
22,Canada,University of Toronto,=22,None,"69,427",17%,18.7
23,United States,Carnegie Mellon University,24,39 : 61,"12,676",45%,13.5
24,United Kingdom,London School of Economics and Political Science,=25,52 : 48,"10,065",71%,12.2
25,United States,University of Washington,=25,52 : 48,"44,945",16%,11.4
26,United Kingdom,University of Edinburgh,=27,59 : 41,"26,759",40%,12.5
27,United States,New York University,=27,56 : 44,"43,860",26%,9.6
28,China,Peking University,=27,47 : 53,"42,136",16%,8.9
29,China,Tsinghua University,30,32 : 68,"42,089",9%,13.7
...,...,...,...,...,...,...,...
170,South Africa,University of Cape Town,171,53 : 47,"20,775",18%,11.7
171,United States,"Rutgers, the State University of New Jersey",172,52 : 48,"43,439",10%,11.1
172,Sweden,KTH Royal Institute of Technology,=173,33 : 67,"12,951",17%,16.0
173,Germany,University of Münster,=173,53 : 47,"42,287",7%,42.6
174,Belgium,Université Libre de Bruxelles,=175,55 : 45,"25,343",35%,43.4
175,United Kingdom,Newcastle University,=175,49 : 51,"20,952",30%,15.6
176,United Kingdom,University of Liverpool,=177,54 : 46,"19,815",35%,11.7
177,China,Zhejiang University,=177,22 : 78,"50,051",6%,14.1
178,Luxembourg,University of Luxembourg,=179,50 : 50,"4,969",57%,14.6
179,Netherlands,University of Twente,=179,37 : 63,"6,697",27%,12.8
180,France,Paris-Sud University,181,55 : 45,"27,221",16%,14.5
181,France,École Normale Supérieure de Lyon,=182,47 : 53,"2,221",13%,8.5
182,Hong Kong,Hong Kong Polytechnic University,=182,51 : 49,"21,773",25%,26.9
183,Italy,Scuola Normale Superiore di Pisa,184,30 : 70,515,7%,5.2
184,United Kingdom,University of Aberdeen,185,55 : 45,"12,055",36%,13.9
185,United States,University of Miami,186,51 : 49,"15,860",16%,5.9
186,United Kingdom,University of Dundee,187,62 : 38,"10,893",24%,14.9
187,United Kingdom,University of East Anglia,=188,60 : 40,"13,521",30%,13.6
188,China,Shanghai Jiao Tong University,=188,41 : 59,"37,288",6%,12.4
189,Finland,Aalto University,190,34 : 66,"12,744",20%,20.2
190,United States,University of Massachusetts,191,49 : 51,"59,230",14%,13.3
191,New Zealand,University of Auckland,192,54 : 46,"30,348",29%,18.8
192,United States,Northeastern University,193,49 : 51,"18,780",32%,14.0
193,Russian Federation,Lomonosov Moscow State University,194,48 : 52,"29,236",22%,7.3
194,Netherlands,Tilburg University,195,48 : 52,"7,738",13%,22.5
195,France,Paris-Sorbonne University – Paris 4,196,68 : 32,"22,042",15%,30.2
196,United Kingdom,"Royal Holloway, University of London",197,59 : 41,"8,931",40%,15.4
197,United States,"University of California, Riverside",=198,51 : 49,"20,740",14%,20.7
198,Sweden,University of Gothenburg,=198,None,"18,378",13%,10.0
199,Taiwan,National Taiwan University,=198,40 : 60,"31,758",8%,11.5

### Using similar column names as task 1

In [36]:
new_columns =['Country THE', 'Title THE', 'Rank THE', 
       'Ratio Female/Male THE', 'Students total number THE',
       'Ratio of International students THE', 'Ratio Student/Staff THE']
result_2.columns = new_columns

## Ratio of international students

### Changing string type into int/float type

In [37]:
for i in range(len(result_2)):
    result_2['Ratio of International students THE'][i] = float(result_2['Ratio of International students THE'][i].strip('%'))/100
    result_2['Ratio Student/Staff THE'][i] = float(result_2['Ratio Student/Staff THE'][i])
    result_2['Students total number THE'][i] = int(result_2['Students total number THE'][i].split()[0].replace(',', ''))

## Fixing duplicate ranks

In [38]:
result_2['Rank THE'] = range(1,201)

In [39]:
df_international_2 = result_2.sort_values('Ratio of International students THE', ascending=0)

In [40]:
df_international_2.head()

,Country THE,Title THE,Rank THE,Ratio Female/Male THE,Students total number THE,Ratio of International students THE,Ratio Student/Staff THE
24,United Kingdom,London School of Economics and Political Science,25,52 : 48,10065,0.71,12.2
178,Luxembourg,University of Luxembourg,179,50 : 50,4969,0.57,14.6
37,Switzerland,École Polytechnique Fédérale de Lausanne,38,28 : 72,9928,0.55,11.2
7,United Kingdom,Imperial College London,8,37 : 63,15857,0.55,11.4
102,Netherlands,Maastricht University,103,58 : 42,16727,0.5,18

## Ratio of staff to students

In [41]:
result_2['Ratio Staff/Student THE'] = 1 / result_2['Ratio Student/Staff THE']

In [42]:
result_2.head()

,Country THE,Title THE,Rank THE,Ratio Female/Male THE,Students total number THE,Ratio of International students THE,Ratio Student/Staff THE,Ratio Staff/Student THE
0,United Kingdom,University of Oxford,1,46 : 54,20409,0.38,11.2,0.0892857
1,United Kingdom,University of Cambridge,2,45 : 55,18389,0.35,10.9,0.0917431
2,United States,California Institute of Technology,3,31 : 69,2209,0.27,6.5,0.153846
3,United States,Stanford University,4,42 : 58,15845,0.22,7.5,0.133333
4,United States,Massachusetts Institute of Technology,5,37 : 63,11177,0.34,8.7,0.114943

In [43]:
df_staffstud_2 = result_2.sort_values('Ratio Staff/Student THE', ascending=0)

In [44]:
df_staffstud_2.head()

,Country THE,Title THE,Rank THE,Ratio Female/Male THE,Students total number THE,Ratio of International students THE,Ratio Student/Staff THE,Ratio Staff/Student THE
105,United States,Vanderbilt University,106,53 : 47,12011,0.13,3.3,0.30303
109,Denmark,University of Copenhagen,110,58 : 42,30395,0.14,4.1,0.243902
153,United States,University of Rochester,154,49 : 51,9636,0.29,4.3,0.232558
11,United States,Yale University,12,49 : 51,12155,0.21,4.3,0.232558
12,United States,Johns Hopkins University,13,52 : 48,15498,0.24,4.3,0.232558

## Grouping by country

In [45]:
result_2

,Country THE,Title THE,Rank THE,Ratio Female/Male THE,Students total number THE,Ratio of International students THE,Ratio Student/Staff THE,Ratio Staff/Student THE
0,United Kingdom,University of Oxford,1,46 : 54,20409,0.38,11.2,0.0892857
1,United Kingdom,University of Cambridge,2,45 : 55,18389,0.35,10.9,0.0917431
2,United States,California Institute of Technology,3,31 : 69,2209,0.27,6.5,0.153846
3,United States,Stanford University,4,42 : 58,15845,0.22,7.5,0.133333
4,United States,Massachusetts Institute of Technology,5,37 : 63,11177,0.34,8.7,0.114943
5,United States,Harvard University,6,None,20326,0.26,8.9,0.11236
6,United States,Princeton University,7,45 : 55,7955,0.24,8.3,0.120482
7,United Kingdom,Imperial College London,8,37 : 63,15857,0.55,11.4,0.0877193
8,United States,University of Chicago,9,44 : 56,13525,0.25,6.2,0.16129
9,Switzerland,ETH Zurich – Swiss Federal Institute of Techno...,10,31 : 69,19233,0.38,14.6,0.0684932
10,United States,University of Pennsylvania,11,50 : 50,20361,0.2,6.5,0.153846
11,United States,Yale University,12,49 : 51,12155,0.21,4.3,0.232558
12,United States,Johns Hopkins University,13,52 : 48,15498,0.24,4.3,0.232558
13,United States,Columbia University,14,None,26587,0.32,6.1,0.163934
14,United States,"University of California, Los Angeles",15,53 : 47,39279,0.17,9.6,0.104167
15,United Kingdom,University College London,16,56 : 44,30304,0.49,10.5,0.0952381
16,United States,Duke University,17,49 : 51,15256,0.22,4.5,0.222222
17,United States,"University of California, Berkeley",18,52 : 48,36182,0.17,13.1,0.0763359
18,United States,Cornell University,19,49 : 51,21850,0.24,9.8,0.102041
19,United States,Northwestern University,20,48 : 52,17466,0.18,12.8,0.078125
20,United States,University of Michigan,21,48 : 52,41818,0.16,8.6,0.116279
21,Singapore,National University of Singapore,22,51 : 49,30602,0.3,17,0.0588235
22,Canada,University of Toronto,23,None,69427,0.17,18.7,0.0534759
23,United States,Carnegie Mellon University,24,39 : 61,12676,0.45,13.5,0.0740741
24,United Kingdom,London School of Economics and Political Science,25,52 : 48,10065,0.71,12.2,0.0819672
25,United States,University of Washington,26,52 : 48,44945,0.16,11.4,0.0877193
26,United Kingdom,University of Edinburgh,27,59 : 41,26759,0.4,12.5,0.08
27,United States,New York University,28,56 : 44,43860,0.26,9.6,0.104167
28,China,Peking University,29,47 : 53,42136,0.16,8.9,0.11236
29,China,Tsinghua University,30,32 : 68,42089,0.09,13.7,0.0729927
...,...,...,...,...,...,...,...,...
170,South Africa,University of Cape Town,171,53 : 47,20775,0.18,11.7,0.0854701
171,United States,"Rutgers, the State University of New Jersey",172,52 : 48,43439,0.1,11.1,0.0900901
172,Sweden,KTH Royal Institute of Technology,173,33 : 67,12951,0.17,16,0.0625
173,Germany,University of Münster,174,53 : 47,42287,0.07,42.6,0.0234742
174,Belgium,Université Libre de Bruxelles,175,55 : 45,25343,0.35,43.4,0.0230415
175,United Kingdom,Newcastle University,176,49 : 51,20952,0.3,15.6,0.0641026
176,United Kingdom,University of Liverpool,177,54 : 46,19815,0.35,11.7,0.0854701
177,China,Zhejiang University,178,22 : 78,50051,0.06,14.1,0.070922
178,Luxembourg,University of Luxembourg,179,50 : 50,4969,0.57,14.6,0.0684932
179,Netherlands,University of Twente,180,37 : 63,6697,0.27,12.8,0.078125
180,France,Paris-Sud University,181,55 : 45,27221,0.16,14.5,0.0689655
181,France,École Normale Supérieure de Lyon,182,47 : 53,2221,0.13,8.5,0.117647
182,Hong Kong,Hong Kong Polytechnic University,183,51 : 49,21773,0.25,26.9,0.0371747
183,Italy,Scuola Normale Superiore di Pisa,184,30 : 70,515,0.07,5.2,0.192308
184,United Kingdom,University of Aberdeen,185,55 : 45,12055,0.36,13.9,0.0719424
185,United States,University of Miami,186,51 : 49,15860,0.16,5.9,0.169492
186,United Kingdom,University of Dundee,187,62 : 38,10893,0.24,14.9,0.0671141
187,United Kingdom,University of East Anglia,188,60 : 40,13521,0.3,13.6,0.0735294
188,China,Shanghai Jiao Tong University,189,41 : 59,37288,0.06,12.4,0.0806452
189,Finland,Aalto University,190,34 : 66,12744,0.2,20.2,0.049505
190,United States,University of Massachusetts,191,49 : 51,59230,0.14,13.3,0.075188
191,New Zealand,University of Auckland,192,54 : 46,30348,0.29,18.8,0.0531915
192,United States,Northeastern University,193,49 : 51,18780,0.32,14,0.0714286
193,Russian Federation,Lomonosov Moscow State University,194,48 : 52,29236,0.22,7.3,0.136986
194,Netherlands,Tilburg University,195,48 : 52,7738,0.13,22.5,0.0444444
195,France,Paris-Sorbonne University – Paris 4,196,68 : 32,22042,0.15,30.2,0.0331126
196,United Kingdom,"Royal Holloway, University of London",197,59 : 41,8931,0.4,15.4,0.0649351
197,United States,"University of California, Riverside",198,51 : 49,20740,0.14,20.7,0.0483092
198,Sweden,University of Gothenburg,199,None,18378,0.13,10,0.1
199,Taiwan,National Taiwan University,200,40 : 60,31758,0.08,11.5,0.0869565

In [46]:
df_international_by_country_2 = result_2.copy()

In [47]:
useless_columns_2 = ['Rank THE','Title THE']
for column_name in useless_columns_2:
    del df_international_by_country_2[column_name]

In [48]:
df_international_by_country_2 = df_international_by_country_2.groupby(['Country THE']).sum()

In [49]:
df_international_by_country_2

,Students total number THE,Ratio of International students THE,Ratio Student/Staff THE,Ratio Staff/Student THE
Country THE,,,,
Australia,268630,2.46,219.7,0.305868
Austria,35375,0.26,20.8,0.048077
Belgium,130115,0.79,154.2,0.104306
Canada,249401,1.35,118.3,0.316357
China,253911,0.60,83.6,0.611938
Denmark,64110,0.50,24.4,0.480499
Finland,35276,0.26,36.4,0.111233
France,99378,1.25,80.7,0.596114
Germany,586364,3.04,880.5,0.559135
Hong Kong,77663,1.64,96.5,0.283110
Ireland,16157,0.27,22.8,0.043860
Italy,1205,0.21,16.9,0.277778
Japan,48481,0.18,15.4,0.264196
Luxembourg,4969,0.57,14.6,0.068493
Netherlands,240180,2.50,238.3,0.734555
New Zealand,30348,0.29,18.8,0.053191
Norway,27730,0.19,18.6,0.053763
Russian Federation,29236,0.22,7.3,0.136986
Singapore,56101,0.61,33.3,0.120173
South Africa,20775,0.18,11.7,0.085470
South Korea,63035,0.36,53.2,0.320879
Spain,43481,0.28,33.7,0.125596
Sweden,125746,0.84,91.2,0.434852
Switzerland,107852,2.20,94.6,0.584128
Taiwan,31758,0.08,11.5,0.086957
United Kingdom,596449,11.33,423.5,2.301821
United States,1705533,11.27,738.1,6.596162

In [50]:
df_international_by_country_intstudent = df_international_by_country_2.sort_values('Ratio of International students THE',ascending=0)
df_international_by_country_staffstudent = df_international_by_country_2.sort_values('Ratio Staff/Student THE',ascending=0)

In [51]:
df_international_by_country_intstudent.head()

,Students total number THE,Ratio of International students THE,Ratio Student/Staff THE,Ratio Staff/Student THE
Country THE,,,,
United Kingdom,596449,11.33,423.5,2.301821
United States,1705533,11.27,738.1,6.596162
Germany,586364,3.04,880.5,0.559135
Netherlands,240180,2.50,238.3,0.734555
Australia,268630,2.46,219.7,0.305868

In [52]:
df_international_by_country_staffstudent.head()

,Students total number THE,Ratio of International students THE,Ratio Student/Staff THE,Ratio Staff/Student THE
Country THE,,,,
United States,1705533,11.27,738.1,6.596162
United Kingdom,596449,11.33,423.5,2.301821
Netherlands,240180,2.50,238.3,0.734555
China,253911,0.60,83.6,0.611938
France,99378,1.25,80.7,0.596114

## Plots and Discussion

In [ ]:
#TODO

# Task 3 - Merging the dataframes

Steps - for explanation:
- see what happens if equality: e.g. problem for MIT
- calculate the cross product of the two dfs, i.e. combine every possible two univerities
- delete very common words from titles to get more reliable matches ()
- calculate a score for similarity between those shorter titles of df and name of df_times
- using difflib library (see https://docs.python.org/2/library/difflib.html) - calculates matches by finding longest common subsequence and then recursivly looking for matches left and right of the occurence of this sequence (gestalt pattern matching introduced by Ratcliff and Obershelp in the 1980's)
- ratio of similarity in [0,1] calculated by  2.0 * M / T where M is nr of matches and T sum of the lengths of the strings
- keep only those rows where similarity is above cetain threshold (0.87)
- empirically find good value for threshold: take a look at those rows where score is strictly less than 1 but still above threshold (show code!!!), if too many wrong matches: higher threshold, as soon as reasonable keep, and remove some mistakes manually, list all exceptions
- to be sure that we did not miss anything also manually check for rows with similarity between 0.5 and 0.87 (should not be same uni), below that we considered it not possible to be same place

In [53]:
dict_words = {'University':'','of':'','The':'','Institute':''}

In [54]:
uni_names_2 = list(result_2['Title THE'])
stripped_names_2 = []
for uni in uni_names_2:
    for i, j in dict_words.items():
        uni = uni.replace(i,j)
    uni=uni.split()
    uni = ' '.join(uni)
    stripped_names_2.append(uni)

In [55]:
uni_names_1 = list(result['Title TU'])
stripped_names_1 = []
for uni in uni_names_1:
    for i, j in dict_words.items():
        uni = uni.replace(i,j)
    uni=uni.split()
    uni = ' '.join(uni)
    stripped_names_1.append(uni)

In [56]:
result['Stripped Names TU'] = stripped_names_1

In [57]:
result_2['Stripped Names THE'] = stripped_names_2

In [58]:
result.head()

,Country TU,Rank TU,Region TU,Title TU,Staff total number TU,Students total number TU,International Staff number TU,International Students number TU,Stripped Names TU
0,United States,1,North America,Massachusetts Institute of Technology (MIT),2982.0,11067.0,1679.0,3717.0,Massachusetts Technology (MIT)
1,United States,2,North America,Stanford University,4285.0,15878.0,2042.0,3611.0,Stanford
2,United States,3,North America,Harvard University,4350.0,22429.0,1311.0,5266.0,Harvard
3,United States,4,North America,California Institute of Technology (Caltech),953.0,2255.0,350.0,647.0,California Technology (Caltech)
4,United Kingdom,5,Europe,University of Cambridge,5490.0,18770.0,2278.0,6699.0,Cambridge

In [59]:
result_2.head()

,Country THE,Title THE,Rank THE,Ratio Female/Male THE,Students total number THE,Ratio of International students THE,Ratio Student/Staff THE,Ratio Staff/Student THE,Stripped Names THE
0,United Kingdom,University of Oxford,1,46 : 54,20409,0.38,11.2,0.0892857,Oxford
1,United Kingdom,University of Cambridge,2,45 : 55,18389,0.35,10.9,0.0917431,Cambridge
2,United States,California Institute of Technology,3,31 : 69,2209,0.27,6.5,0.153846,California Technology
3,United States,Stanford University,4,42 : 58,15845,0.22,7.5,0.133333,Stanford
4,United States,Massachusetts Institute of Technology,5,37 : 63,11177,0.34,8.7,0.114943,Massachusetts Technology

In [60]:
from difflib import SequenceMatcher
df_cartesian = pd.merge(result.assign(key=0), result_2.assign(key=0), on='key').drop('key', axis=1)

def similar(row):
    return SequenceMatcher(None, row['Stripped Names TU'],row['Stripped Names THE']).ratio()

df_cartesian['Similarity'] = df_cartesian.apply(similar,axis=1)
df_merged = df_cartesian[df_cartesian.Similarity > 0.80]
df_merged

,Country TU,Rank TU,Region TU,Title TU,Staff total number TU,Students total number TU,International Staff number TU,International Students number TU,Stripped Names TU,Country THE,Title THE,Rank THE,Ratio Female/Male THE,Students total number THE,Ratio of International students THE,Ratio Student/Staff THE,Ratio Staff/Student THE,Stripped Names THE,Similarity
4,United States,1,North America,Massachusetts Institute of Technology (MIT),2982.0,11067.0,1679.0,3717.0,Massachusetts Technology (MIT),United States,Massachusetts Institute of Technology,5,37 : 63,11177,0.34,8.7,0.114943,Massachusetts Technology,0.888889
203,United States,2,North America,Stanford University,4285.0,15878.0,2042.0,3611.0,Stanford,United States,Stanford University,4,42 : 58,15845,0.22,7.5,0.133333,Stanford,1.000000
405,United States,3,North America,Harvard University,4350.0,22429.0,1311.0,5266.0,Harvard,United States,Harvard University,6,None,20326,0.26,8.9,0.11236,Harvard,1.000000
602,United States,4,North America,California Institute of Technology (Caltech),953.0,2255.0,350.0,647.0,California Technology (Caltech),United States,California Institute of Technology,3,31 : 69,2209,0.27,6.5,0.153846,California Technology,0.807692
801,United Kingdom,5,Europe,University of Cambridge,5490.0,18770.0,2278.0,6699.0,Cambridge,United Kingdom,University of Cambridge,2,45 : 55,18389,0.35,10.9,0.0917431,Cambridge,1.000000
1000,United Kingdom,6,Europe,University of Oxford,6750.0,19720.0,2964.0,7353.0,Oxford,United Kingdom,University of Oxford,1,46 : 54,20409,0.38,11.2,0.0892857,Oxford,1.000000
1407,United Kingdom,8,Europe,Imperial College London,3930.0,16090.0,2071.0,8746.0,Imperial College London,United Kingdom,Imperial College London,8,37 : 63,15857,0.55,11.4,0.0877193,Imperial College London,1.000000
1608,United States,9,North America,University of Chicago,2449.0,13557.0,635.0,3379.0,Chicago,United States,University of Chicago,9,44 : 56,13525,0.25,6.2,0.16129,Chicago,1.000000
1809,Switzerland,10,Europe,ETH Zurich - Swiss Federal Institute of Techno...,2477.0,19815.0,1886.0,7563.0,ETH Zurich - Swiss Federal Technology,Switzerland,ETH Zurich – Swiss Federal Institute of Techno...,10,31 : 69,19233,0.38,14.6,0.0684932,ETH Zurich – Swiss Federal Technology Zurich,0.888889
2051,Singapore,11,Asia,"Nanyang Technological University, Singapore (NTU)",4338.0,25738.0,2993.0,7251.0,"Nanyang Technological , Singapore (NTU)",Singapore,"Nanyang Technological University, Singapore",52,48 : 52,25499,0.31,16.3,0.0613497,"Nanyang Technological , Singapore",0.916667
2237,Switzerland,12,Europe,Ecole Polytechnique Fédérale de Lausanne (EPFL),1695.0,10343.0,1300.0,5896.0,Ecole Polytechnique Fédérale de Lausanne (EPFL),Switzerland,École Polytechnique Fédérale de Lausanne,38,28 : 72,9928,0.55,11.2,0.0892857,École Polytechnique Fédérale de Lausanne,0.896552
2406,United States,13,North America,Princeton University,1007.0,8069.0,246.0,1793.0,Princeton,United States,Princeton University,7,45 : 55,7955,0.24,8.3,0.120482,Princeton,1.000000
2618,United States,14,North America,Cornell University,2718.0,21904.0,970.0,5411.0,Cornell,United States,Cornell University,19,49 : 51,21850,0.24,9.8,0.102041,Cornell,1.000000
2821,Singapore,15,Asia,National University of Singapore (NUS),5106.0,32728.0,3086.0,8917.0,National Singapore (NUS),Singapore,National University of Singapore,22,51 : 49,30602,0.3,17,0.0588235,National Singapore,0.857143
3011,United States,16,North America,Yale University,4940.0,12402.0,1708.0,2469.0,Yale,United States,Yale University,12,49 : 51,12155,0.21,4.3,0.232558,Yale,1.000000
3212,United States,17,North America,Johns Hopkins University,4462.0,16146.0,1061.0,4105.0,Johns Hopkins,United States,Johns Hopkins University,13,52 : 48,15498,0.24,4.3,0.232558,Johns Hopkins,1.000000
3413,United States,18,North America,Columbia University,6189.0,25045.0,913.0,8105.0,Columbia,United States,Columbia University,14,None,26587,0.32,6.1,0.163934,Columbia,1.000000
3610,United States,19,North America,University of Pennsylvania,5499.0,20639.0,1383.0,4250.0,Pennsylvania,United States,University of Pennsylvania,11,50 : 50,20361,0.2,6.5,0.153846,Pennsylvania,1.000000
3847,Australia,20,Oceania,The Australian National University,1600.0,14442.0,927.0,5551.0,Australian National,Australia,Australian National University,48,52 : 48,15986,0.35,19.3,0.0518135,Australian National,1.000000
4020,United States,21,North America,University of Michigan,6809.0,43147.0,1920.0,7527.0,Michigan,United States,University of Michigan,21,48 : 52,41818,0.16,8.6,0.116279,Michigan,1.000000
4216,United States,22,North America,Duke University,2938.0,15320.0,226.0,2864.0,Duke,United States,Duke University,17,49 : 51,15256,0.22,4.5,0.222222,Duke,1.000000
4426,United Kingdom,23,Europe,The University of Edinburgh,4075.0,28040.0,1553.0,10551.0,Edinburgh,United Kingdom,University of Edinburgh,27,59 : 41,26759,0.4,12.5,0.08,Edinburgh,1.000000
4635,United Kingdom,24,Europe,King's College London,3650.0,23780.0,1513.0,9451.0,King's College London,United Kingdom,King’s College London,36,62 : 38,23207,0.41,12,0.0833333,King’s College London,0.952381
4829,China,25,Asia,Tsinghua University,5506.0,36300.0,932.0,4072.0,Tsinghua,China,Tsinghua University,30,32 : 68,42089,0.09,13.7,0.0729927,Tsinghua,1.000000
5039,Hong Kong,26,Asia,The University of Hong Kong,3012.0,20214.0,2085.0,8230.0,Hong Kong,Hong Kong,University of Hong Kong,40,54 : 46,18364,0.42,18,0.0555556,Hong Kong,1.000000
5217,United States,27,North America,"University of California, Berkeley (UCB)",3321.0,36703.0,1395.0,6086.0,"California, Berkeley (UCB)",United States,"University of California, Berkeley",18,52 : 48,36182,0.17,13.1,0.0763359,"California, Berkeley",0.869565
5445,Japan,28,Asia,The University of Tokyo,4514.0,27279.0,254.0,2639.0,Tokyo,Japan,University of Tokyo,46,None,26000,0.1,6.7,0.149254,Tokyo,1.000000
5619,United States,29,North America,Northwestern University,4231.0,18675.0,1141.0,3422.0,Northwestern,United States,Northwestern University,20,48 : 52,17466,0.18,12.8,0.078125,Northwestern,1.000000
5792,United States,29,North America,Northwestern University,4231.0,18675.0,1141.0,3422.0,Northwestern,United States,Northeastern University,193,49 : 51,18780,0.32,14,0.0714286,Northeastern,0.916667
5843,Hong Kong,30,Asia,The Hong Kong University of Science and Techno...,1150.0,10375.0,835.0,2921.0,Hong Kong Science and Technology,Hong Kong,Hong Kong University of Science and Technology,44,None,10214,0.31,23.1,0.04329,Hong Kong Science and Technology,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28078,Germany,141,Europe,RWTH Aachen University,3176.0,44517.0,449.0,8556.0,RWTH Aachen,Germany,RWTH Aachen University,79,32 : 68,43721,0.18,57.7,0.017331,RWTH Aachen,1.000000
28301,United States,142,North America,University of Pittsburgh,4982.0,26393.0,572.0,2937.0,Pittsburgh,United States,University of Pittsburgh,102,52 : 48,26367,0.1,5.9,0.169492,Pittsburgh,1.000000
28545,Norway,143,Europe,University of Oslo,2509.0,24304.0,711.0,3667.0,Oslo,Norway,University of Oslo,146,60 : 40,27730,0.19,18.6,0.0537634,Oslo,1.000000
29151,Switzerland,146,Europe,University of Lausanne,2173.0,13435.0,1031.0,3337.0,Lausanne,Switzerland,University of Lausanne,152,None,13065,0.25,13.6,0.0735294,Lausanne,1.000000
29271,Netherlands,147,Europe,Erasmus University Rotterdam,2011.0,23273.0,458.0,5229.0,Erasmus Rotterdam,Netherlands,Erasmus University Rotterdam,72,49 : 51,22047,0.2,20.1,0.0497512,Erasmus Rotterdam,1.000000
29497,United States,148,North America,Emory University,2560.0,12852.0,484.0,2154.0,Emory,United States,Emory University,98,57 : 43,12649,0.19,4.4,0.227273,Emory,1.000000
29694,Switzerland,149,Europe,University of Basel,1057.0,12852.0,684.0,3441.0,Basel,Switzerland,University of Basel,95,55 : 45,12729,0.27,17.7,0.0564972,Basel,1.000000
29883,United States,150,North America,Michigan State University,2884.0,44951.0,653.0,7427.0,Michigan State,United States,Michigan State University,84,51 : 49,44556,0.17,17,0.0588235,Michigan State,1.000000
30528,Belgium,153,Europe,Université catholique de Louvain (UCL),1219.0,24277.0,406.0,4468.0,Université catholique de Louvain (UCL),Belgium,Université Catholique de Louvain,129,54 : 46,24451,0.19,37.8,0.026455,Université Catholique de Louvain,0.885714
30764,Austria,154,Europe,University of Vienna,3411.0,45967.0,1400.0,14468.0,Vienna,Austria,University of Vienna,165,66 : 34,35375,0.26,20.8,0.0480769,Vienna,1.000000
31381,France,157,Europe,École Normale Supérieure de Lyon,382.0,2020.0,91.0,221.0,École Normale Supérieure de Lyon,France,École Normale Supérieure de Lyon,182,47 : 53,2221,0.13,8.5,0.117647,École Normale Supérieure de Lyon,1.000000
31584,United Kingdom,158,Europe,University of Aberdeen,1310.0,12005.0,508.0,4246.0,Aberdeen,United Kingdom,University of Aberdeen,185,55 : 45,12055,0.36,13.9,0.0719424,Aberdeen,1.000000
31729,United Kingdom,159,Europe,The University of Exeter,1756.0,20749.0,597.0,5504.0,Exeter,United Kingdom,University of Exeter,130,55 : 45,19159,0.28,17.5,0.0571429,Exeter,1.000000
32175,United Kingdom,161,Europe,Newcastle University,2428.0,21673.0,835.0,5717.0,Newcastle,United Kingdom,Newcastle University,176,49 : 51,20952,0.3,15.6,0.0641026,Newcastle,1.000000
32455,United States,163,North America,University of Minnesota,4919.0,59742.0,195.0,6542.0,Minnesota,United States,University of Minnesota,56,51 : 49,60949,0.11,17.4,0.0574713,Minnesota,1.000000
32898,United States,165,North America,"University of California, Irvine",1926.0,32151.0,377.0,8538.0,"California, Irvine",United States,"University of California, Irvine",99,52 : 48,30419,0.21,17,0.0588235,"California, Irvine",1.000000
33304,Switzerland,167,Europe,University of Bern,1172.0,10758.0,661.0,1618.0,Bern,Switzerland,University of Bern,105,56 : 44,10449,0.15,16.5,0.0606061,Bern,1.000000
33688,United States,169,North America,Dartmouth College,939.0,6224.0,27.0,945.0,Dartmouth College,United States,Dartmouth College,89,47 : 53,6100,0.15,6.6,0.151515,Dartmouth College,1.000000
34776,United Kingdom,174,Europe,University of Liverpool,2390.0,22065.0,717.0,7502.0,Liverpool,United Kingdom,University of Liverpool,177,54 : 46,19815,0.35,11.7,0.0854701,Liverpool,1.000000
34913,United States,175,North America,University of Virginia,2509.0,21560.0,487.0,1899.0,Virginia,United States,University of Virginia,114,52 : 48,24055,0.12,9.7,0.103093,Virginia,1.000000
35542,United States,178,North America,University of Florida,5419.0,45485.0,504.0,4597.0,Florida,United States,University of Florida,143,54 : 46,46346,0.09,17.5,0.0571429,Florida,1.000000
35979,Netherlands,180,Europe,University of Twente,910.0,9332.0,299.0,2235.0,Twente,Netherlands,University of Twente,180,37 : 63,6697,0.27,12.8,0.078125,Twente,1.000000
36112,Germany,181,Europe,University of Göttingen,3678.0,30402.0,641.0,3736.0,Göttingen,Germany,University of Göttingen,113,50 : 50,28554,0.12,27.9,0.0358423,Göttingen,1.000000
36700,United States,184,North America,University of Colorado Boulder,3685.0,30219.0,566.0,2679.0,Colorado Boulder,United States,University of Colorado Boulder,101,44 : 56,30780,0.1,16.3,0.0613497,Colorado Boulder,1.000000
37153,United States,186,North America,University of Rochester,2569.0,9636.0,488.0,2805.0,Rochester,United States,University of Rochester,154,49 : 51,9636,0.29,4.3,0.232558,Rochester,1.000000
38170,South Africa,191,Africa,University of Cape Town,1733.0,19593.0,379.0,3325.0,Cape Town,South Africa,University of Cape Town,171,53 : 47,20775,0.18,11.7,0.0854701,Cape Town,1.000000
38383,Italy,192,Europe,Scuola Normale Superiore di Pisa,86.0,532.0,1.0,48.0,Scuola Normale Superiore di Pisa,Italy,Scuola Normale Superiore di Pisa,184,30 : 70,515,0.07,5.2,0.192308,Scuola Normale Superiore di Pisa,1.000000
38934,Sweden,195,Europe,Stockholm University,2154.0,28281.0,646.0,2636.0,Stockholm,Sweden,Stockholm University,135,None,33156,0.08,24.9,0.0401606,Stockholm,1.000000
39359,United States,197,North America,Texas A&M University,3446.0,60294.0,206.0,4900.0,Texas A&M,United States,Texas A&M University,160,48 : 52,56245,0.09,23.6,0.0423729,Texas A&M,1.000000
39702,Netherlands,199,Europe,Maastricht University,1277.0,16385.0,502.0,8234.0,Maastricht,Netherlands,Maastricht University,103,58 : 42,16727,0.5,18,0.0555556,Maastricht,1.000000

## Extracting Manually the indices of those mismatches using

In [ ]:
#### df_cartesian[ (df_cartesian['Stripped Names TU'].str.startswith('name'))  & (df_cartesian['Stripped Names THE'].str.startswith('name'))].index[0]

### Missing universities from the dataframe

In [ ]:
#['New York (NYU)', 'New York', 0.7272727272727273], index:10227
#['UCL ( College London)', 'College London ucl', 0.717948717948718], index : 1215
#['KAIST - Korea Advanced Science & Technology','Korea Advanced Science and Technology (KAIST)',0.7727272727272727],
#index : 8095
#['Humboldt-Universität zu Berlin', 'Humboldt Berlin', 0.6666666666666666]. index : 23861
#['New South Wales (UNSW Sydney)', 'New South Wales', 0.6818181818181818], index : 8884

### Wrong matches with high similarity %

In [ ]:
#['Northwestern', 'Northeastern', 0.9166666666666666] index: 5792
#['Hong Kong Science and Technology','Pohang Science and Technology', 0.8524590163934426], index : 5936

## Adding and Removing the mismatches

In [61]:
adding_index = [10227,1215,8095,23861,8884]
removing_index = [5792,5936]

In [62]:
for index in removing_index:
    df_merged = df_merged.drop(index)
df_merged

,Country TU,Rank TU,Region TU,Title TU,Staff total number TU,Students total number TU,International Staff number TU,International Students number TU,Stripped Names TU,Country THE,Title THE,Rank THE,Ratio Female/Male THE,Students total number THE,Ratio of International students THE,Ratio Student/Staff THE,Ratio Staff/Student THE,Stripped Names THE,Similarity
4,United States,1,North America,Massachusetts Institute of Technology (MIT),2982.0,11067.0,1679.0,3717.0,Massachusetts Technology (MIT),United States,Massachusetts Institute of Technology,5,37 : 63,11177,0.34,8.7,0.114943,Massachusetts Technology,0.888889
203,United States,2,North America,Stanford University,4285.0,15878.0,2042.0,3611.0,Stanford,United States,Stanford University,4,42 : 58,15845,0.22,7.5,0.133333,Stanford,1.000000
405,United States,3,North America,Harvard University,4350.0,22429.0,1311.0,5266.0,Harvard,United States,Harvard University,6,None,20326,0.26,8.9,0.11236,Harvard,1.000000
602,United States,4,North America,California Institute of Technology (Caltech),953.0,2255.0,350.0,647.0,California Technology (Caltech),United States,California Institute of Technology,3,31 : 69,2209,0.27,6.5,0.153846,California Technology,0.807692
801,United Kingdom,5,Europe,University of Cambridge,5490.0,18770.0,2278.0,6699.0,Cambridge,United Kingdom,University of Cambridge,2,45 : 55,18389,0.35,10.9,0.0917431,Cambridge,1.000000
1000,United Kingdom,6,Europe,University of Oxford,6750.0,19720.0,2964.0,7353.0,Oxford,United Kingdom,University of Oxford,1,46 : 54,20409,0.38,11.2,0.0892857,Oxford,1.000000
1407,United Kingdom,8,Europe,Imperial College London,3930.0,16090.0,2071.0,8746.0,Imperial College London,United Kingdom,Imperial College London,8,37 : 63,15857,0.55,11.4,0.0877193,Imperial College London,1.000000
1608,United States,9,North America,University of Chicago,2449.0,13557.0,635.0,3379.0,Chicago,United States,University of Chicago,9,44 : 56,13525,0.25,6.2,0.16129,Chicago,1.000000
1809,Switzerland,10,Europe,ETH Zurich - Swiss Federal Institute of Techno...,2477.0,19815.0,1886.0,7563.0,ETH Zurich - Swiss Federal Technology,Switzerland,ETH Zurich – Swiss Federal Institute of Techno...,10,31 : 69,19233,0.38,14.6,0.0684932,ETH Zurich – Swiss Federal Technology Zurich,0.888889
2051,Singapore,11,Asia,"Nanyang Technological University, Singapore (NTU)",4338.0,25738.0,2993.0,7251.0,"Nanyang Technological , Singapore (NTU)",Singapore,"Nanyang Technological University, Singapore",52,48 : 52,25499,0.31,16.3,0.0613497,"Nanyang Technological , Singapore",0.916667
2237,Switzerland,12,Europe,Ecole Polytechnique Fédérale de Lausanne (EPFL),1695.0,10343.0,1300.0,5896.0,Ecole Polytechnique Fédérale de Lausanne (EPFL),Switzerland,École Polytechnique Fédérale de Lausanne,38,28 : 72,9928,0.55,11.2,0.0892857,École Polytechnique Fédérale de Lausanne,0.896552
2406,United States,13,North America,Princeton University,1007.0,8069.0,246.0,1793.0,Princeton,United States,Princeton University,7,45 : 55,7955,0.24,8.3,0.120482,Princeton,1.000000
2618,United States,14,North America,Cornell University,2718.0,21904.0,970.0,5411.0,Cornell,United States,Cornell University,19,49 : 51,21850,0.24,9.8,0.102041,Cornell,1.000000
2821,Singapore,15,Asia,National University of Singapore (NUS),5106.0,32728.0,3086.0,8917.0,National Singapore (NUS),Singapore,National University of Singapore,22,51 : 49,30602,0.3,17,0.0588235,National Singapore,0.857143
3011,United States,16,North America,Yale University,4940.0,12402.0,1708.0,2469.0,Yale,United States,Yale University,12,49 : 51,12155,0.21,4.3,0.232558,Yale,1.000000
3212,United States,17,North America,Johns Hopkins University,4462.0,16146.0,1061.0,4105.0,Johns Hopkins,United States,Johns Hopkins University,13,52 : 48,15498,0.24,4.3,0.232558,Johns Hopkins,1.000000
3413,United States,18,North America,Columbia University,6189.0,25045.0,913.0,8105.0,Columbia,United States,Columbia University,14,None,26587,0.32,6.1,0.163934,Columbia,1.000000
3610,United States,19,North America,University of Pennsylvania,5499.0,20639.0,1383.0,4250.0,Pennsylvania,United States,University of Pennsylvania,11,50 : 50,20361,0.2,6.5,0.153846,Pennsylvania,1.000000
3847,Australia,20,Oceania,The Australian National University,1600.0,14442.0,927.0,5551.0,Australian National,Australia,Australian National University,48,52 : 48,15986,0.35,19.3,0.0518135,Australian National,1.000000
4020,United States,21,North America,University of Michigan,6809.0,43147.0,1920.0,7527.0,Michigan,United States,University of Michigan,21,48 : 52,41818,0.16,8.6,0.116279,Michigan,1.000000
4216,United States,22,North America,Duke University,2938.0,15320.0,226.0,2864.0,Duke,United States,Duke University,17,49 : 51,15256,0.22,4.5,0.222222,Duke,1.000000
4426,United Kingdom,23,Europe,The University of Edinburgh,4075.0,28040.0,1553.0,10551.0,Edinburgh,United Kingdom,University of Edinburgh,27,59 : 41,26759,0.4,12.5,0.08,Edinburgh,1.000000
4635,United Kingdom,24,Europe,King's College London,3650.0,23780.0,1513.0,9451.0,King's College London,United Kingdom,King’s College London,36,62 : 38,23207,0.41,12,0.0833333,King’s College London,0.952381
4829,China,25,Asia,Tsinghua University,5506.0,36300.0,932.0,4072.0,Tsinghua,China,Tsinghua University,30,32 : 68,42089,0.09,13.7,0.0729927,Tsinghua,1.000000
5039,Hong Kong,26,Asia,The University of Hong Kong,3012.0,20214.0,2085.0,8230.0,Hong Kong,Hong Kong,University of Hong Kong,40,54 : 46,18364,0.42,18,0.0555556,Hong Kong,1.000000
5217,United States,27,North America,"University of California, Berkeley (UCB)",3321.0,36703.0,1395.0,6086.0,"California, Berkeley (UCB)",United States,"University of California, Berkeley",18,52 : 48,36182,0.17,13.1,0.0763359,"California, Berkeley",0.869565
5445,Japan,28,Asia,The University of Tokyo,4514.0,27279.0,254.0,2639.0,Tokyo,Japan,University of Tokyo,46,None,26000,0.1,6.7,0.149254,Tokyo,1.000000
5619,United States,29,North America,Northwestern University,4231.0,18675.0,1141.0,3422.0,Northwestern,United States,Northwestern University,20,48 : 52,17466,0.18,12.8,0.078125,Northwestern,1.000000
5843,Hong Kong,30,Asia,The Hong Kong University of Science and Techno...,1150.0,10375.0,835.0,2921.0,Hong Kong Science and Technology,Hong Kong,Hong Kong University of Science and Technology,44,None,10214,0.31,23.1,0.04329,Hong Kong Science and Technology,1.000000
6022,Canada,31,North America,University of Toronto,9581.0,72207.0,3905.0,21910.0,Toronto,Canada,University of Toronto,23,None,69427,0.17,18.7,0.0534759,Toronto,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28078,Germany,141,Europe,RWTH Aachen University,3176.0,44517.0,449.0,8556.0,RWTH Aachen,Germany,RWTH Aachen University,79,32 : 68,43721,0.18,57.7,0.017331,RWTH Aachen,1.000000
28301,United States,142,North America,University of Pittsburgh,4982.0,26393.0,572.0,2937.0,Pittsburgh,United States,University of Pittsburgh,102,52 : 48,26367,0.1,5.9,0.169492,Pittsburgh,1.000000
28545,Norway,143,Europe,University of Oslo,2509.0,24304.0,711.0,3667.0,Oslo,Norway,University of Oslo,146,60 : 40,27730,0.19,18.6,0.0537634,Oslo,1.000000
29151,Switzerland,146,Europe,University of Lausanne,2173.0,13435.0,1031.0,3337.0,Lausanne,Switzerland,University of Lausanne,152,None,13065,0.25,13.6,0.0735294,Lausanne,1.000000
29271,Netherlands,147,Europe,Erasmus University Rotterdam,2011.0,23273.0,458.0,5229.0,Erasmus Rotterdam,Netherlands,Erasmus University Rotterdam,72,49 : 51,22047,0.2,20.1,0.0497512,Erasmus Rotterdam,1.000000
29497,United States,148,North America,Emory University,2560.0,12852.0,484.0,2154.0,Emory,United States,Emory University,98,57 : 43,12649,0.19,4.4,0.227273,Emory,1.000000
29694,Switzerland,149,Europe,University of Basel,1057.0,12852.0,684.0,3441.0,Basel,Switzerland,University of Basel,95,55 : 45,12729,0.27,17.7,0.0564972,Basel,1.000000
29883,United States,150,North America,Michigan State University,2884.0,44951.0,653.0,7427.0,Michigan State,United States,Michigan State University,84,51 : 49,44556,0.17,17,0.0588235,Michigan State,1.000000
30528,Belgium,153,Europe,Université catholique de Louvain (UCL),1219.0,24277.0,406.0,4468.0,Université catholique de Louvain (UCL),Belgium,Université Catholique de Louvain,129,54 : 46,24451,0.19,37.8,0.026455,Université Catholique de Louvain,0.885714
30764,Austria,154,Europe,University of Vienna,3411.0,45967.0,1400.0,14468.0,Vienna,Austria,University of Vienna,165,66 : 34,35375,0.26,20.8,0.0480769,Vienna,1.000000
31381,France,157,Europe,École Normale Supérieure de Lyon,382.0,2020.0,91.0,221.0,École Normale Supérieure de Lyon,France,École Normale Supérieure de Lyon,182,47 : 53,2221,0.13,8.5,0.117647,École Normale Supérieure de Lyon,1.000000
31584,United Kingdom,158,Europe,University of Aberdeen,1310.0,12005.0,508.0,4246.0,Aberdeen,United Kingdom,University of Aberdeen,185,55 : 45,12055,0.36,13.9,0.0719424,Aberdeen,1.000000
31729,United Kingdom,159,Europe,The University of Exeter,1756.0,20749.0,597.0,5504.0,Exeter,United Kingdom,University of Exeter,130,55 : 45,19159,0.28,17.5,0.0571429,Exeter,1.000000
32175,United Kingdom,161,Europe,Newcastle University,2428.0,21673.0,835.0,5717.0,Newcastle,United Kingdom,Newcastle University,176,49 : 51,20952,0.3,15.6,0.0641026,Newcastle,1.000000
32455,United States,163,North America,University of Minnesota,4919.0,59742.0,195.0,6542.0,Minnesota,United States,University of Minnesota,56,51 : 49,60949,0.11,17.4,0.0574713,Minnesota,1.000000
32898,United States,165,North America,"University of California, Irvine",1926.0,32151.0,377.0,8538.0,"California, Irvine",United States,"University of California, Irvine",99,52 : 48,30419,0.21,17,0.0588235,"California, Irvine",1.000000
33304,Switzerland,167,Europe,University of Bern,1172.0,10758.0,661.0,1618.0,Bern,Switzerland,University of Bern,105,56 : 44,10449,0.15,16.5,0.0606061,Bern,1.000000
33688,United States,169,North America,Dartmouth College,939.0,6224.0,27.0,945.0,Dartmouth College,United States,Dartmouth College,89,47 : 53,6100,0.15,6.6,0.151515,Dartmouth College,1.000000
34776,United Kingdom,174,Europe,University of Liverpool,2390.0,22065.0,717.0,7502.0,Liverpool,United Kingdom,University of Liverpool,177,54 : 46,19815,0.35,11.7,0.0854701,Liverpool,1.000000
34913,United States,175,North America,University of Virginia,2509.0,21560.0,487.0,1899.0,Virginia,United States,University of Virginia,114,52 : 48,24055,0.12,9.7,0.103093,Virginia,1.000000
35542,United States,178,North America,University of Florida,5419.0,45485.0,504.0,4597.0,Florida,United States,University of Florida,143,54 : 46,46346,0.09,17.5,0.0571429,Florida,1.000000
35979,Netherlands,180,Europe,University of Twente,910.0,9332.0,299.0,2235.0,Twente,Netherlands,University of Twente,180,37 : 63,6697,0.27,12.8,0.078125,Twente,1.000000
36112,Germany,181,Europe,University of Göttingen,3678.0,30402.0,641.0,3736.0,Göttingen,Germany,University of Göttingen,113,50 : 50,28554,0.12,27.9,0.0358423,Göttingen,1.000000
36700,United States,184,North America,University of Colorado Boulder,3685.0,30219.0,566.0,2679.0,Colorado Boulder,United States,University of Colorado Boulder,101,44 : 56,30780,0.1,16.3,0.0613497,Colorado Boulder,1.000000
37153,United States,186,North America,University of Rochester,2569.0,9636.0,488.0,2805.0,Rochester,United States,University of Rochester,154,49 : 51,9636,0.29,4.3,0.232558,Rochester,1.000000
38170,South Africa,191,Africa,University of Cape Town,1733.0,19593.0,379.0,3325.0,Cape Town,South Africa,University of Cape Town,171,53 : 47,20775,0.18,11.7,0.0854701,Cape Town,1.000000
38383,Italy,192,Europe,Scuola Normale Superiore di Pisa,86.0,532.0,1.0,48.0,Scuola Normale Superiore di Pisa,Italy,Scuola Normale Superiore di Pisa,184,30 : 70,515,0.07,5.2,0.192308,Scuola Normale Superiore di Pisa,1.000000
38934,Sweden,195,Europe,Stockholm University,2154.0,28281.0,646.0,2636.0,Stockholm,Sweden,Stockholm University,135,None,33156,0.08,24.9,0.0401606,Stockholm,1.000000
39359,United States,197,North America,Texas A&M University,3446.0,60294.0,206.0,4900.0,Texas A&M,United States,Texas A&M University,160,48 : 52,56245,0.09,23.6,0.0423729,Texas A&M,1.000000
39702,Netherlands,199,Europe,Maastricht University,1277.0,16385.0,502.0,8234.0,Maastricht,Netherlands,Maastricht University,103,58 : 42,16727,0.5,18,0.0555556,Maastricht,1.000000

In [63]:
for index in adding_index:
    df_merged = df_merged.append(df_cartesian.iloc[index])
df_merged

,Country TU,Rank TU,Region TU,Title TU,Staff total number TU,Students total number TU,International Staff number TU,International Students number TU,Stripped Names TU,Country THE,Title THE,Rank THE,Ratio Female/Male THE,Students total number THE,Ratio of International students THE,Ratio Student/Staff THE,Ratio Staff/Student THE,Stripped Names THE,Similarity
4,United States,1,North America,Massachusetts Institute of Technology (MIT),2982.0,11067.0,1679.0,3717.0,Massachusetts Technology (MIT),United States,Massachusetts Institute of Technology,5,37 : 63,11177,0.34,8.7,0.114943,Massachusetts Technology,0.888889
203,United States,2,North America,Stanford University,4285.0,15878.0,2042.0,3611.0,Stanford,United States,Stanford University,4,42 : 58,15845,0.22,7.5,0.133333,Stanford,1.000000
405,United States,3,North America,Harvard University,4350.0,22429.0,1311.0,5266.0,Harvard,United States,Harvard University,6,None,20326,0.26,8.9,0.11236,Harvard,1.000000
602,United States,4,North America,California Institute of Technology (Caltech),953.0,2255.0,350.0,647.0,California Technology (Caltech),United States,California Institute of Technology,3,31 : 69,2209,0.27,6.5,0.153846,California Technology,0.807692
801,United Kingdom,5,Europe,University of Cambridge,5490.0,18770.0,2278.0,6699.0,Cambridge,United Kingdom,University of Cambridge,2,45 : 55,18389,0.35,10.9,0.0917431,Cambridge,1.000000
1000,United Kingdom,6,Europe,University of Oxford,6750.0,19720.0,2964.0,7353.0,Oxford,United Kingdom,University of Oxford,1,46 : 54,20409,0.38,11.2,0.0892857,Oxford,1.000000
1407,United Kingdom,8,Europe,Imperial College London,3930.0,16090.0,2071.0,8746.0,Imperial College London,United Kingdom,Imperial College London,8,37 : 63,15857,0.55,11.4,0.0877193,Imperial College London,1.000000
1608,United States,9,North America,University of Chicago,2449.0,13557.0,635.0,3379.0,Chicago,United States,University of Chicago,9,44 : 56,13525,0.25,6.2,0.16129,Chicago,1.000000
1809,Switzerland,10,Europe,ETH Zurich - Swiss Federal Institute of Techno...,2477.0,19815.0,1886.0,7563.0,ETH Zurich - Swiss Federal Technology,Switzerland,ETH Zurich – Swiss Federal Institute of Techno...,10,31 : 69,19233,0.38,14.6,0.0684932,ETH Zurich – Swiss Federal Technology Zurich,0.888889
2051,Singapore,11,Asia,"Nanyang Technological University, Singapore (NTU)",4338.0,25738.0,2993.0,7251.0,"Nanyang Technological , Singapore (NTU)",Singapore,"Nanyang Technological University, Singapore",52,48 : 52,25499,0.31,16.3,0.0613497,"Nanyang Technological , Singapore",0.916667
2237,Switzerland,12,Europe,Ecole Polytechnique Fédérale de Lausanne (EPFL),1695.0,10343.0,1300.0,5896.0,Ecole Polytechnique Fédérale de Lausanne (EPFL),Switzerland,École Polytechnique Fédérale de Lausanne,38,28 : 72,9928,0.55,11.2,0.0892857,École Polytechnique Fédérale de Lausanne,0.896552
2406,United States,13,North America,Princeton University,1007.0,8069.0,246.0,1793.0,Princeton,United States,Princeton University,7,45 : 55,7955,0.24,8.3,0.120482,Princeton,1.000000
2618,United States,14,North America,Cornell University,2718.0,21904.0,970.0,5411.0,Cornell,United States,Cornell University,19,49 : 51,21850,0.24,9.8,0.102041,Cornell,1.000000
2821,Singapore,15,Asia,National University of Singapore (NUS),5106.0,32728.0,3086.0,8917.0,National Singapore (NUS),Singapore,National University of Singapore,22,51 : 49,30602,0.3,17,0.0588235,National Singapore,0.857143
3011,United States,16,North America,Yale University,4940.0,12402.0,1708.0,2469.0,Yale,United States,Yale University,12,49 : 51,12155,0.21,4.3,0.232558,Yale,1.000000
3212,United States,17,North America,Johns Hopkins University,4462.0,16146.0,1061.0,4105.0,Johns Hopkins,United States,Johns Hopkins University,13,52 : 48,15498,0.24,4.3,0.232558,Johns Hopkins,1.000000
3413,United States,18,North America,Columbia University,6189.0,25045.0,913.0,8105.0,Columbia,United States,Columbia University,14,None,26587,0.32,6.1,0.163934,Columbia,1.000000
3610,United States,19,North America,University of Pennsylvania,5499.0,20639.0,1383.0,4250.0,Pennsylvania,United States,University of Pennsylvania,11,50 : 50,20361,0.2,6.5,0.153846,Pennsylvania,1.000000
3847,Australia,20,Oceania,The Australian National University,1600.0,14442.0,927.0,5551.0,Australian National,Australia,Australian National University,48,52 : 48,15986,0.35,19.3,0.0518135,Australian National,1.000000
4020,United States,21,North America,University of Michigan,6809.0,43147.0,1920.0,7527.0,Michigan,United States,University of Michigan,21,48 : 52,41818,0.16,8.6,0.116279,Michigan,1.000000
4216,United States,22,North America,Duke University,2938.0,15320.0,226.0,2864.0,Duke,United States,Duke University,17,49 : 51,15256,0.22,4.5,0.222222,Duke,1.000000
4426,United Kingdom,23,Europe,The University of Edinburgh,4075.0,28040.0,1553.0,10551.0,Edinburgh,United Kingdom,University of Edinburgh,27,59 : 41,26759,0.4,12.5,0.08,Edinburgh,1.000000
4635,United Kingdom,24,Europe,King's College London,3650.0,23780.0,1513.0,9451.0,King's College London,United Kingdom,King’s College London,36,62 : 38,23207,0.41,12,0.0833333,King’s College London,0.952381
4829,China,25,Asia,Tsinghua University,5506.0,36300.0,932.0,4072.0,Tsinghua,China,Tsinghua University,30,32 : 68,42089,0.09,13.7,0.0729927,Tsinghua,1.000000
5039,Hong Kong,26,Asia,The University of Hong Kong,3012.0,20214.0,2085.0,8230.0,Hong Kong,Hong Kong,University of Hong Kong,40,54 : 46,18364,0.42,18,0.0555556,Hong Kong,1.000000
5217,United States,27,North America,"University of California, Berkeley (UCB)",3321.0,36703.0,1395.0,6086.0,"California, Berkeley (UCB)",United States,"University of California, Berkeley",18,52 : 48,36182,0.17,13.1,0.0763359,"California, Berkeley",0.869565
5445,Japan,28,Asia,The University of Tokyo,4514.0,27279.0,254.0,2639.0,Tokyo,Japan,University of Tokyo,46,None,26000,0.1,6.7,0.149254,Tokyo,1.000000
5619,United States,29,North America,Northwestern University,4231.0,18675.0,1141.0,3422.0,Northwestern,United States,Northwestern University,20,48 : 52,17466,0.18,12.8,0.078125,Northwestern,1.000000
5843,Hong Kong,30,Asia,The Hong Kong University of Science and Techno...,1150.0,10375.0,835.0,2921.0,Hong Kong Science and Technology,Hong Kong,Hong Kong University of Science and Technology,44,None,10214,0.31,23.1,0.04329,Hong Kong Science and Technology,1.000000
6022,Canada,31,North America,University of Toronto,9581.0,72207.0,3905.0,21910.0,Toronto,Canada,University of Toronto,23,None,69427,0.17,18.7,0.0534759,Toronto,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29497,United States,148,North America,Emory University,2560.0,12852.0,484.0,2154.0,Emory,United States,Emory University,98,57 : 43,12649,0.19,4.4,0.227273,Emory,1.000000
29694,Switzerland,149,Europe,University of Basel,1057.0,12852.0,684.0,3441.0,Basel,Switzerland,University of Basel,95,55 : 45,12729,0.27,17.7,0.0564972,Basel,1.000000
29883,United States,150,North America,Michigan State University,2884.0,44951.0,653.0,7427.0,Michigan State,United States,Michigan State University,84,51 : 49,44556,0.17,17,0.0588235,Michigan State,1.000000
30528,Belgium,153,Europe,Université catholique de Louvain (UCL),1219.0,24277.0,406.0,4468.0,Université catholique de Louvain (UCL),Belgium,Université Catholique de Louvain,129,54 : 46,24451,0.19,37.8,0.026455,Université Catholique de Louvain,0.885714
30764,Austria,154,Europe,University of Vienna,3411.0,45967.0,1400.0,14468.0,Vienna,Austria,University of Vienna,165,66 : 34,35375,0.26,20.8,0.0480769,Vienna,1.000000
31381,France,157,Europe,École Normale Supérieure de Lyon,382.0,2020.0,91.0,221.0,École Normale Supérieure de Lyon,France,École Normale Supérieure de Lyon,182,47 : 53,2221,0.13,8.5,0.117647,École Normale Supérieure de Lyon,1.000000
31584,United Kingdom,158,Europe,University of Aberdeen,1310.0,12005.0,508.0,4246.0,Aberdeen,United Kingdom,University of Aberdeen,185,55 : 45,12055,0.36,13.9,0.0719424,Aberdeen,1.000000
31729,United Kingdom,159,Europe,The University of Exeter,1756.0,20749.0,597.0,5504.0,Exeter,United Kingdom,University of Exeter,130,55 : 45,19159,0.28,17.5,0.0571429,Exeter,1.000000
32175,United Kingdom,161,Europe,Newcastle University,2428.0,21673.0,835.0,5717.0,Newcastle,United Kingdom,Newcastle University,176,49 : 51,20952,0.3,15.6,0.0641026,Newcastle,1.000000
32455,United States,163,North America,University of Minnesota,4919.0,59742.0,195.0,6542.0,Minnesota,United States,University of Minnesota,56,51 : 49,60949,0.11,17.4,0.0574713,Minnesota,1.000000
32898,United States,165,North America,"University of California, Irvine",1926.0,32151.0,377.0,8538.0,"California, Irvine",United States,"University of California, Irvine",99,52 : 48,30419,0.21,17,0.0588235,"California, Irvine",1.000000
33304,Switzerland,167,Europe,University of Bern,1172.0,10758.0,661.0,1618.0,Bern,Switzerland,University of Bern,105,56 : 44,10449,0.15,16.5,0.0606061,Bern,1.000000
33688,United States,169,North America,Dartmouth College,939.0,6224.0,27.0,945.0,Dartmouth College,United States,Dartmouth College,89,47 : 53,6100,0.15,6.6,0.151515,Dartmouth College,1.000000
34776,United Kingdom,174,Europe,University of Liverpool,2390.0,22065.0,717.0,7502.0,Liverpool,United Kingdom,University of Liverpool,177,54 : 46,19815,0.35,11.7,0.0854701,Liverpool,1.000000
34913,United States,175,North America,University of Virginia,2509.0,21560.0,487.0,1899.0,Virginia,United States,University of Virginia,114,52 : 48,24055,0.12,9.7,0.103093,Virginia,1.000000
35542,United States,178,North America,University of Florida,5419.0,45485.0,504.0,4597.0,Florida,United States,University of Florida,143,54 : 46,46346,0.09,17.5,0.0571429,Florida,1.000000
35979,Netherlands,180,Europe,University of Twente,910.0,9332.0,299.0,2235.0,Twente,Netherlands,University of Twente,180,37 : 63,6697,0.27,12.8,0.078125,Twente,1.000000
36112,Germany,181,Europe,University of Göttingen,3678.0,30402.0,641.0,3736.0,Göttingen,Germany,University of Göttingen,113,50 : 50,28554,0.12,27.9,0.0358423,Göttingen,1.000000
36700,United States,184,North America,University of Colorado Boulder,3685.0,30219.0,566.0,2679.0,Colorado Boulder,United States,University of Colorado Boulder,101,44 : 56,30780,0.1,16.3,0.0613497,Colorado Boulder,1.000000
37153,United States,186,North America,University of Rochester,2569.0,9636.0,488.0,2805.0,Rochester,United States,University of Rochester,154,49 : 51,9636,0.29,4.3,0.232558,Rochester,1.000000
38170,South Africa,191,Africa,University of Cape Town,1733.0,19593.0,379.0,3325.0,Cape Town,South Africa,University of Cape Town,171,53 : 47,20775,0.18,11.7,0.0854701,Cape Town,1.000000
38383,Italy,192,Europe,Scuola Normale Superiore di Pisa,86.0,532.0,1.0,48.0,Scuola Normale Superiore di Pisa,Italy,Scuola Normale Superiore di Pisa,184,30 : 70,515,0.07,5.2,0.192308,Scuola Normale Superiore di Pisa,1.000000
38934,Sweden,195,Europe,Stockholm University,2154.0,28281.0,646.0,2636.0,Stockholm,Sweden,Stockholm University,135,None,33156,0.08,24.9,0.0401606,Stockholm,1.000000
39359,United States,197,North America,Texas A&M University,3446.0,60294.0,206.0,4900.0,Texas A&M,United States,Texas A&M University,160,48 : 52,56245,0.09,23.6,0.0423729,Texas A&M,1.000000
39702,Netherlands,199,Europe,Maastricht University,1277.0,16385.0,502.0,8234.0,Maastricht,Netherlands,Maastricht University,103,58 : 42,16727,0.5,18,0.0555556,Maastricht,1.000000
10227,United States,52,North America,New York University (NYU),NaN,NaN,NaN,NaN,New York (NYU),United States,New York University,28,56 : 44,43860,0.26,9.6,0.104167,New York,0.727273
1215,United Kingdom,7,Europe,UCL (University College London),6345.0,31080.0,2554.0,14854.0,UCL ( College London),United Kingdom,University College London,16,56 : 44,30304,0.49,10.5,0.0952381,College London,0.800000
8095,South Korea,41,Asia,KAIST - Korea Advanced Institute of Science & ...,1250.0,9826.0,147.0,584.0,KAIST - Korea Advanced Science & Technology,South Korea,Korea Advanced Institute of Science and Techno...,96,20 : 80,9464,0.09,10.6,0.0943396,Korea Advanced Science and Technology (KAIST),0.772727
23861,Germany,120,Europe,Humboldt-Universität zu Berlin,1966.0,33198.0,407.0,4805.0,Humboldt-Universität zu Berlin,Germany,Humboldt University of Berlin,62,None,32172,0.17,56.5,0.0176991,Humboldt Berlin,0.666667
8884,Australia,45,Oceania,The University of New South Wales (UNSW Sydney),2924.0,39784.0,1612.0,14292.0,New South Wales (UNSW Sydney),Australia,University of New South Wales,85,46 : 54,40133,0.34,26.7,0.0374532,New South Wales,0.681818

In [64]:
#drop similarity column, not needed for further analysis
del df_merged['Similarity']

In [66]:
df_merged

,Country TU,Rank TU,Region TU,Title TU,Staff total number TU,Students total number TU,International Staff number TU,International Students number TU,Stripped Names TU,Country THE,Title THE,Rank THE,Ratio Female/Male THE,Students total number THE,Ratio of International students THE,Ratio Student/Staff THE,Ratio Staff/Student THE,Stripped Names THE
4,United States,1,North America,Massachusetts Institute of Technology (MIT),2982.0,11067.0,1679.0,3717.0,Massachusetts Technology (MIT),United States,Massachusetts Institute of Technology,5,37 : 63,11177,0.34,8.7,0.114943,Massachusetts Technology
203,United States,2,North America,Stanford University,4285.0,15878.0,2042.0,3611.0,Stanford,United States,Stanford University,4,42 : 58,15845,0.22,7.5,0.133333,Stanford
405,United States,3,North America,Harvard University,4350.0,22429.0,1311.0,5266.0,Harvard,United States,Harvard University,6,None,20326,0.26,8.9,0.11236,Harvard
602,United States,4,North America,California Institute of Technology (Caltech),953.0,2255.0,350.0,647.0,California Technology (Caltech),United States,California Institute of Technology,3,31 : 69,2209,0.27,6.5,0.153846,California Technology
801,United Kingdom,5,Europe,University of Cambridge,5490.0,18770.0,2278.0,6699.0,Cambridge,United Kingdom,University of Cambridge,2,45 : 55,18389,0.35,10.9,0.0917431,Cambridge
1000,United Kingdom,6,Europe,University of Oxford,6750.0,19720.0,2964.0,7353.0,Oxford,United Kingdom,University of Oxford,1,46 : 54,20409,0.38,11.2,0.0892857,Oxford
1407,United Kingdom,8,Europe,Imperial College London,3930.0,16090.0,2071.0,8746.0,Imperial College London,United Kingdom,Imperial College London,8,37 : 63,15857,0.55,11.4,0.0877193,Imperial College London
1608,United States,9,North America,University of Chicago,2449.0,13557.0,635.0,3379.0,Chicago,United States,University of Chicago,9,44 : 56,13525,0.25,6.2,0.16129,Chicago
1809,Switzerland,10,Europe,ETH Zurich - Swiss Federal Institute of Techno...,2477.0,19815.0,1886.0,7563.0,ETH Zurich - Swiss Federal Technology,Switzerland,ETH Zurich – Swiss Federal Institute of Techno...,10,31 : 69,19233,0.38,14.6,0.0684932,ETH Zurich – Swiss Federal Technology Zurich
2051,Singapore,11,Asia,"Nanyang Technological University, Singapore (NTU)",4338.0,25738.0,2993.0,7251.0,"Nanyang Technological , Singapore (NTU)",Singapore,"Nanyang Technological University, Singapore",52,48 : 52,25499,0.31,16.3,0.0613497,"Nanyang Technological , Singapore"
2237,Switzerland,12,Europe,Ecole Polytechnique Fédérale de Lausanne (EPFL),1695.0,10343.0,1300.0,5896.0,Ecole Polytechnique Fédérale de Lausanne (EPFL),Switzerland,École Polytechnique Fédérale de Lausanne,38,28 : 72,9928,0.55,11.2,0.0892857,École Polytechnique Fédérale de Lausanne
2406,United States,13,North America,Princeton University,1007.0,8069.0,246.0,1793.0,Princeton,United States,Princeton University,7,45 : 55,7955,0.24,8.3,0.120482,Princeton
2618,United States,14,North America,Cornell University,2718.0,21904.0,970.0,5411.0,Cornell,United States,Cornell University,19,49 : 51,21850,0.24,9.8,0.102041,Cornell
2821,Singapore,15,Asia,National University of Singapore (NUS),5106.0,32728.0,3086.0,8917.0,National Singapore (NUS),Singapore,National University of Singapore,22,51 : 49,30602,0.3,17,0.0588235,National Singapore
3011,United States,16,North America,Yale University,4940.0,12402.0,1708.0,2469.0,Yale,United States,Yale University,12,49 : 51,12155,0.21,4.3,0.232558,Yale
3212,United States,17,North America,Johns Hopkins University,4462.0,16146.0,1061.0,4105.0,Johns Hopkins,United States,Johns Hopkins University,13,52 : 48,15498,0.24,4.3,0.232558,Johns Hopkins
3413,United States,18,North America,Columbia University,6189.0,25045.0,913.0,8105.0,Columbia,United States,Columbia University,14,None,26587,0.32,6.1,0.163934,Columbia
3610,United States,19,North America,University of Pennsylvania,5499.0,20639.0,1383.0,4250.0,Pennsylvania,United States,University of Pennsylvania,11,50 : 50,20361,0.2,6.5,0.153846,Pennsylvania
3847,Australia,20,Oceania,The Australian National University,1600.0,14442.0,927.0,5551.0,Australian National,Australia,Australian National University,48,52 : 48,15986,0.35,19.3,0.0518135,Australian National
4020,United States,21,North America,University of Michigan,6809.0,43147.0,1920.0,7527.0,Michigan,United States,University of Michigan,21,48 : 52,41818,0.16,8.6,0.116279,Michigan
4216,United States,22,North America,Duke University,2938.0,15320.0,226.0,2864.0,Duke,United States,Duke University,17,49 : 51,15256,0.22,4.5,0.222222,Duke
4426,United Kingdom,23,Europe,The University of Edinburgh,4075.0,28040.0,1553.0,10551.0,Edinburgh,United Kingdom,University of Edinburgh,27,59 : 41,26759,0.4,12.5,0.08,Edinburgh
4635,United Kingdom,24,Europe,King's College London,3650.0,23780.0,1513.0,9451.0,King's College London,United Kingdom,King’s College London,36,62 : 38,23207,0.41,12,0.0833333,King’s College London
4829,China,25,Asia,Tsinghua University,5506.0,36300.0,932.0,4072.0,Tsinghua,China,Tsinghua University,30,32 : 68,42089,0.09,13.7,0.0729927,Tsinghua
5039,Hong Kong,26,Asia,The University of Hong Kong,3012.0,20214.0,2085.0,8230.0,Hong Kong,Hong Kong,University of Hong Kong,40,54 : 46,18364,0.42,18,0.0555556,Hong Kong
5217,United States,27,North America,"University of California, Berkeley (UCB)",3321.0,36703.0,1395.0,6086.0,"California, Berkeley (UCB)",United States,"University of California, Berkeley",18,52 : 48,36182,0.17,13.1,0.0763359,"California, Berkeley"
5445,Japan,28,Asia,The University of Tokyo,4514.0,27279.0,254.0,2639.0,Tokyo,Japan,University of Tokyo,46,None,26000,0.1,6.7,0.149254,Tokyo
5619,United States,29,North America,Northwestern University,4231.0,18675.0,1141.0,3422.0,Northwestern,United States,Northwestern University,20,48 : 52,17466,0.18,12.8,0.078125,Northwestern
5843,Hong Kong,30,Asia,The Hong Kong University of Science and Techno...,1150.0,10375.0,835.0,2921.0,Hong Kong Science and Technology,Hong Kong,Hong Kong University of Science and Technology,44,None,10214,0.31,23.1,0.04329,Hong Kong Science and Technology
6022,Canada,31,North America,University of Toronto,9581.0,72207.0,3905.0,21910.0,Toronto,Canada,University of Toronto,23,None,69427,0.17,18.7,0.0534759,Toronto
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29497,United States,148,North America,Emory University,2560.0,12852.0,484.0,2154.0,Emory,United States,Emory University,98,57 : 43,12649,0.19,4.4,0.227273,Emory
29694,Switzerland,149,Europe,University of Basel,1057.0,12852.0,684.0,3441.0,Basel,Switzerland,University of Basel,95,55 : 45,12729,0.27,17.7,0.0564972,Basel
29883,United States,150,North America,Michigan State University,2884.0,44951.0,653.0,7427.0,Michigan State,United States,Michigan State University,84,51 : 49,44556,0.17,17,0.0588235,Michigan State
30528,Belgium,153,Europe,Université catholique de Louvain (UCL),1219.0,24277.0,406.0,4468.0,Université catholique de Louvain (UCL),Belgium,Université Catholique de Louvain,129,54 : 46,24451,0.19,37.8,0.026455,Université Catholique de Louvain
30764,Austria,154,Europe,University of Vienna,3411.0,45967.0,1400.0,14468.0,Vienna,Austria,University of Vienna,165,66 : 34,35375,0.26,20.8,0.0480769,Vienna
31381,France,157,Europe,École Normale Supérieure de Lyon,382.0,2020.0,91.0,221.0,École Normale Supérieure de Lyon,France,École Normale Supérieure de Lyon,182,47 : 53,2221,0.13,8.5,0.117647,École Normale Supérieure de Lyon
31584,United Kingdom,158,Europe,University of Aberdeen,1310.0,12005.0,508.0,4246.0,Aberdeen,United Kingdom,University of Aberdeen,185,55 : 45,12055,0.36,13.9,0.0719424,Aberdeen
31729,United Kingdom,159,Europe,The University of Exeter,1756.0,20749.0,597.0,5504.0,Exeter,United Kingdom,University of Exeter,130,55 : 45,19159,0.28,17.5,0.0571429,Exeter
32175,United Kingdom,161,Europe,Newcastle University,2428.0,21673.0,835.0,5717.0,Newcastle,United Kingdom,Newcastle University,176,49 : 51,20952,0.3,15.6,0.0641026,Newcastle
32455,United States,163,North America,University of Minnesota,4919.0,59742.0,195.0,6542.0,Minnesota,United States,University of Minnesota,56,51 : 49,60949,0.11,17.4,0.0574713,Minnesota
32898,United States,165,North America,"University of California, Irvine",1926.0,32151.0,377.0,8538.0,"California, Irvine",United States,"University of California, Irvine",99,52 : 48,30419,0.21,17,0.0588235,"California, Irvine"
33304,Switzerland,167,Europe,University of Bern,1172.0,10758.0,661.0,1618.0,Bern,Switzerland,University of Bern,105,56 : 44,10449,0.15,16.5,0.0606061,Bern
33688,United States,169,North America,Dartmouth College,939.0,6224.0,27.0,945.0,Dartmouth College,United States,Dartmouth College,89,47 : 53,6100,0.15,6.6,0.151515,Dartmouth College
34776,United Kingdom,174,Europe,University of Liverpool,2390.0,22065.0,717.0,7502.0,Liverpool,United Kingdom,University of Liverpool,177,54 : 46,19815,0.35,11.7,0.0854701,Liverpool
34913,United States,175,North America,University of Virginia,2509.0,21560.0,487.0,1899.0,Virginia,United States,University of Virginia,114,52 : 48,24055,0.12,9.7,0.103093,Virginia
35542,United States,178,North America,University of Florida,5419.0,45485.0,504.0,4597.0,Florida,United States,University of Florida,143,54 : 46,46346,0.09,17.5,0.0571429,Florida
35979,Netherlands,180,Europe,University of Twente,910.0,9332.0,299.0,2235.0,Twente,Netherlands,University of Twente,180,37 : 63,6697,0.27,12.8,0.078125,Twente
36112,Germany,181,Europe,University of Göttingen,3678.0,30402.0,641.0,3736.0,Göttingen,Germany,University of Göttingen,113,50 : 50,28554,0.12,27.9,0.0358423,Göttingen
36700,United States,184,North America,University of Colorado Boulder,3685.0,30219.0,566.0,2679.0,Colorado Boulder,United States,University of Colorado Boulder,101,44 : 56,30780,0.1,16.3,0.0613497,Colorado Boulder
37153,United States,186,North America,University of Rochester,2569.0,9636.0,488.0,2805.0,Rochester,United States,University of Rochester,154,49 : 51,9636,0.29,4.3,0.232558,Rochester
38170,South Africa,191,Africa,University of Cape Town,1733.0,19593.0,379.0,3325.0,Cape Town,South Africa,University of Cape Town,171,53 : 47,20775,0.18,11.7,0.0854701,Cape Town
38383,Italy,192,Europe,Scuola Normale Superiore di Pisa,86.0,532.0,1.0,48.0,Scuola Normale Superiore di Pisa,Italy,Scuola Normale Superiore di Pisa,184,30 : 70,515,0.07,5.2,0.192308,Scuola Normale Superiore di Pisa
38934,Sweden,195,Europe,Stockholm University,2154.0,28281.0,646.0,2636.0,Stockholm,Sweden,Stockholm University,135,None,33156,0.08,24.9,0.0401606,Stockholm
39359,United States,197,North America,Texas A&M University,3446.0,60294.0,206.0,4900.0,Texas A&M,United States,Texas A&M University,160,48 : 52,56245,0.09,23.6,0.0423729,Texas A&M
39702,Netherlands,199,Europe,Maastricht University,1277.0,16385.0,502.0,8234.0,Maastricht,Netherlands,Maastricht University,103,58 : 42,16727,0.5,18,0.0555556,Maastricht
10227,United States,52,North America,New York University (NYU),NaN,NaN,NaN,NaN,New York (NYU),United States,New York University,28,56 : 44,43860,0.26,9.6,0.104167,New York
1215,United Kingdom,7,Europe,UCL (University College London),6345.0,31080.0,2554.0,14854.0,UCL ( College London),United Kingdom,University College London,16,56 : 44,30304,0.49,10.5,0.0952381,College London
8095,South Korea,41,Asia,KAIST - Korea Advanced Institute of Science & ...,1250.0,9826.0,147.0,584.0,KAIST - Korea Advanced Science & Technology,South Korea,Korea Advanced Institute of Science and Techno...,96,20 : 80,9464,0.09,10.6,0.0943396,Korea Advanced Science and Technology (KAIST)
23861,Germany,120,Europe,Humboldt-Universität zu Berlin,1966.0,33198.0,407.0,4805.0,Humboldt-Universität zu Berlin,Germany,Humboldt University of Berlin,62,None,32172,0.17,56.5,0.0176991,Humboldt Berlin
8884,Australia,45,Oceania,The University of New South Wales (UNSW Sydney),2924.0,39784.0,1612.0,14292.0,New South Wales (UNSW Sydney),Australia,University of New South Wales,85,46 : 54,40133,0.34,26.7,0.0374532,New South Wales

# Task 4 - Exploratory Analysis

**ERRORS AT THE MOMENT, NAMES NEED REFACTORING!!!!!!!!!!!!!!!!!!!!!!!!!**


**TODO**: get rid of some columns before the analysis (e.g. keep only score or rank) (+ make sure that all interesting are here...) + cast to appropriate data types

In [ ]:
df_merged['rank'] = df_merged['rank'].apply(lambda x: int(x.replace('=','')))
df_merged['rank'] = df_merged['rank'].astype('int')
df_merged['rank_display'] = df_merged['rank_display'].apply(lambda x: int(x.replace('=','')))
df_merged['rank_display'] = df_merged['rank_display'].astype('int')
df_merged['scores_research'] = df_merged['scores_research'].astype('float')
df_merged['scores_teaching'] = df_merged['scores_teaching'].astype('float')

df_merged.dtypes

To begin with we make a boxplot for the columns in the dataframe to get a better feeling for the values that we are dealing with.

In [ ]:
#print(df_merged.dtypes)
#plt.boxplot(df_merged['International Staff number'])
df_merged.boxplot(figsize=(20, 5))

 **TODO** Interpretation....

In the next step we try to find correlations between the different variables by computing the paiwise correlation of the columns:

In [ ]:
df_merged.corr()

 **TODO** Interpretation....

In the rest of our analysis we try to answer the following questions:
1. When a university is strong in its international dimension, can you observe a consistency both for students and faculty members? (see example in exercise description)
2. Do international students tend to chose higher raked universities?
3. Compare the two rankings: how are similar are ranks?
4. Is there a correlation between the score in research and the score in teaching?
5. Are the two rankings consistent regarding their values for the number of students? (+ other similar attributes)

In [ ]:
df_merged.plot.scatter(x='International Staff number', y='International Students number')

In [ ]:
df_merged.plot.scatter(x='rank', y='International Students number')

In [ ]:
df_merged.plot.scatter(x='rank', y='rank_display')

In [ ]:
df_merged.plot.scatter(x='scores_research', y='scores_teaching')

# Task 5 - Finding the best university

In [ ]:
#use sum of two ranks?